<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{pages.system.name}+'-'+#{pages.workflow.assembly.title}"></title>
</head>
<body>
	<div th:fragment="content">
		<div id="assemblyManageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_title_label" aria-hidden="true" style="display: none;">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							×
						</button>
						<h4 class="modal-title" id="modal_title_label">
							<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;<label
								th:text="#{pages.workflow.assembly.title}" th:remove="tag"></label>
						</h4>
					</div>
					<div class="modal-body">
						 <div class="x_content">
                 	 <div class="row">
			            <form id="assemblyQueryForm" method="post" class="form-horizontal">
		                    <div class="panel-group" id="steps">
		                        <div class="panel panel-primary">
		                            <div class="panel-heading">
		                                <h4 class="panel-title">
		                                	<i class="fa fa-search"></i><a data-toggle="collapse" data-parent="#steps" href="#stepOne" th:text="#{pages.workflow.assembly.form.title}"></a>
		                              	</h4>
		                            </div>
		                            <div id="stepOne" class="panel-collapse collapse in  ">
		                                <div class="panel-body">
		                                <div class="form-group"  style="display:none">
			                    			<div class="col-md-6" id="checkTemplate">
										         <div class='input-group'>  
													  <span class="input-group-addon check">
													  	<input type="checkbox" name="assemblyOutputLotNum" checked="checked" />
										              </span>  
										  			  <input type='text' class="form-control check-text" readonly="true" />
													  <span class="input-group-addon removeButton btn btn-danger">
													  	<i class="glyphicon glyphicon-remove"></i>
										              </span>  
							         		 	</div>
											 </div>
                						</div>
		                                <div class="col-md-6">
			                                	<div class='input-group date'>  
			                                		<span class="input-group-addon" th:text="#{pages.workflow.assembly.form.deliveryTime}">  
                									</span>  
									                <input type='text' name="deliveryTime"  id='queryDeliveryTime' class="form-control" />  
									                <span class="input-group-addon">  
									                    <span class="glyphicon glyphicon-calendar"></span>  
									                </span>  
            									</div> 
				                      		</div>
				                      		<div class="col-md-6">
			                                	<div class="input-group">
			                                		<span class="input-group-addon" th:text="#{pages.workflow.opticalfilming.form.outputLotNum}"></span>
							                        <input type="text" name="outputLotNum" class="form-control"/>
			                                	</div>
				                      		</div>
				                      		<div class="col-md-6">
			                                	<div class="input-group">
			                                		<span class="input-group-addon" th:text="#{pages.workflow.opticalfilming.form.fixtureNum}"></span>
							                        <input type="text" name="fixtureNum" class="form-control"/>
			                                	</div>
				                      		</div>
						                     <div class="col-md-6">
			                                	<div class="input-group">
			                                		<span class="input-group-addon" th:text="#{pages.workflow.assembly.form.remark}"></span>
							                        <select name="remark" class="form-control">
							                        	<option value="" th:text="#{pages.workflow.assembly.remark.select.all}"></option>
										              	<option  th:each="dataConfig:${remarkDataConfigs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
										              	</option>
	                                				</select> 
			                                	</div>
						                    </div>
						                    <div class="form-group has-feedback text-center">
						                        <button id="assemblyBtn-query" class="btn btn-primary" type="button">
						                        <i class="fa fa-search"></i>
			                 						<span th:text="#{pages.workflow.assembly.form.query.button.tip}" th:remove="tag"></span>
												</button> 
						                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
                		</form>
    				</div>
                 	<div class="row" id="assembly-div-table-container">
                 		<input id="assemblyTableFieldBinds" name="assemblyTableFieldBinds" type="hidden" th:value="${assemblyTableFieldBinds}"/>
                 		<table id="assemblyDatatable" class="table jambo_table datatable-bordered">
							<thead>
								<tr  th:each="headLines,iterStat:${assemblyTableHeaderConfigs}">
									<th th:each="headLineConfigEntity:${headLines.value}" th:colspan="${headLineConfigEntity.cols}" th:rowspan="${headLineConfigEntity.rows}">
										<span th:if="${headLineConfigEntity.lineNum==1 and headLineConfigEntity.colNum==1}"  th:remove="tag">
											<input  type="checkbox" name="a-cb-check-all"/>
										</span>
										<span th:unless="${headLineConfigEntity.lineNum==1 and headLineConfigEntity.colNum==1}" th:text="${headLineConfigEntity.headline}" th:remove="tag">
											
										</span>
									</th>
								</tr>
							</thead>
						</table>
                 	</div>
        		</div>
					</div>
					<div class="modal-footer"> 
						<!--  button class="btn btn-primary" id="addAssemblyButton" data-dismiss="modal">
							<i class="fa fa-check"></i> <span
										th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.button.add}" th:remove="tag"></span>
						</button-->
						<button type="button" id="shutAssemblyButton" class="btn btn-primary" data-dismiss="modal">
							<i class="fa fa-close"></i> <span
										th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.button.shut}"
										th:remove="tag"></span>
						</button> 
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>