<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/indexModel">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="#{pages.system.name}+'-'+#{pages.workflow.chemicalReagentManage.selReagentMixture.title}"></title>

</head>
<body>
	<div th:fragment="content">
		<div id="singleReagentMixtureModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-sm" style="width:660px;">
				<div class="modal-content">
					<div class="modal-header no-padding">
						<div class="table-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								<span class="white">&times;</span>
							</button>
							<i class="glyphicon glyphicon-cog"></i>&nbsp;&nbsp;
							<label th:text="#{pages.workflow.chemicalReagentManage.selReagentMixture.title}" th:remove="tag"></label>
						</div>
					</div>
					<div class="modal-body" style="height:400px;">
						<div class="col-xs-12">
								 <form id="querySingleReagentMixtureForm" method="post" class="form-horizontal">
				                    <div class="panel-group" id="steps">
				                        <div class="panel panel-primary">
				                            <div id="stepOne" class="panel-collapse collapse in  ">
				                                <div class="panel-body">
								                    <div class="col-md-5 form-group" >
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.workflow.chemicalReagentManage.form.mainReagent}"></span>
									                        <select name="mainReagent" class="form-control">
									                        	<option  th:each="dataConfig:${mrDataConfigs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
									                        	</option>
			                                    			</select>
					                                	</div>
								                    </div>
								                    <div class="col-md-6 form-group" style="padding-left:40px">
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.workflow.chemicalReagentManage.form.reagentsName}"></span>
									                        <input type="text" name="reagentsName" class="form-control"/>
					                                	</div>
								                    </div>
								                    <div class="col-md-1" style="padding-left:10px">
								                        <button id="querySingleReagentMixtureButton" class="btn btn-white btn-primary" type="button">
								                        <i class="fa fa-search"></i>
					                 						<span th:text="#{pages.workflow.polish.form.query.button.tip}" th:remove="tag"></span>
														</button> 
								                    </div>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
		                		</form>
	                		</div>
						<table id="singleReagentMixtureTable" class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
							
						</table>
					</div>
					<div class="modal-footer no-margin-top">
						<button type="button" class="btn btn-white btn-primary" data-dismiss="modal">
							<i class="fa fa-close"></i> 
							<span th:text="#{pages.reagent.reagentMixtureDetail.shut}" th:remove="tag"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>