<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{pages.system.name}+'-'+#{pages.workflow.chemicalReagentManage.addChemicalReagent.title}"></title>
<script type="text/javascript" th:src="@{{path}/dist/workflow/chemicalReagent/js/addChemicalReagentInfo.js(path=${contextPath})}"></script>
<script type="text/javascript" th:src="@{{path}/dist/workflow/chemicalReagent/js/selMultipleReagentMixture.js(path=${contextPath})}"></script>
<script type="text/javascript" th:src="@{{path}/dist/workflow/chemicalReagent/js/selSingleReagentMixture.js(path=${contextPath})}"></script>
<script type="text/javascript" th:src="@{{path}/dist/workflow/chemicalReagent/js/selAssembly.js(path=${contextPath})}"></script>
</head>
<body>
	<div th:fragment="content">
		 <div th:fragment="content">
        	<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="javascript:void(0)"  class="homemenu" ></a>
				</li>
				<li>
					<a href="javascript:void(0)" class="submenumenu"></a>
				</li>
				<li>
					<a href="javascript:void(0)" th:onclick="'javascript:LoadPage(\''+${#httpServletRequest.getContextPath()}+'/workflow/addChemicalReagent\');'" th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.title}"></a>
				</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="page-content-area">
				<div class="row">
					<div class="col-xs-12">
						<form method="POST" id="addDataForm" class="form-horizontal">
							<input type='hidden' id="updateForm" name="updateForm" value="#addDataForm" />
							<input type='hidden' id="addAuxiliaryReagent" name="addAuxiliaryReagent" value="#addAuxiliaryReagent1" />
							<div class="form-group"  style="display: none;">
								<div class="col-md-8" style="margin-bottom:20px" id="reagentPanelTemplate">
                    				<div class="rowGroup">
	                    				<span class="col-md-5 control-label reagentPanel">
										</span>
										<div class="col-md-5">
											<input type='text' class="form-control"/>
										</div>
										<span class="col-md-1 removeButton btn btn-sm btn-danger">
											 <i class="glyphicon glyphicon-remove"></i>
								         </span>
							         </div>
								 </div>
                			</div>
							<div class="form-group"  style="display: none;">
								<div class="col-md-4" style="margin-bottom:20px" id="assemblyTemplate">
                    				<div class="rowGroup">
										<div class="checkbox removeButton">
											<label>
												<input name="trayLotNum1" class="ace" type="checkbox" checked="checked">
												<span class="lbl assembly"></span>
											</label>
										</div>
							         </div>
								 </div>
                			</div>
                			<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.lot}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text'  name="lot"  class="form-control"/>
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.bioPatNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<select name="bioPatNum" class="form-control">
							              <option  th:each="dataConfig:${bioPatNumConfigs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<div class="col-md-11 col-md-offset-1">
										<fieldset>
		    								<legend>
		    									<label class="blue control-label" th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.compoundReagents}">
												</label>
												<span class="btn btn-white btn-primary btn-sm" id="addChemicalReagentButton">  
					                     			<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.compoundReagents.button}" th:remove="tag"></label>
					                     		</span>
		    								</legend>
											<div class="col-md-10" id="addChemicalReagentPanel">
							                      
											</div>
	  									</fieldset>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<div class="col-md-11 col-md-offset-1">
										<fieldset style="margin-top:0px">
		    								<legend>
		    									<label class="blue control-label" th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.assemblyOutputLotNum}"></label>
		    									<span class="blue control-label" id="assemblynum"></span>
		    									<span class="btn btn-white btn-primary btn-sm" id="addAssemblyOutputLotNumButton">  
					                     			<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.compoundReagents.button}" th:remove="tag"></label>
					                     		</span>
		    								</legend>
											<div class="col-md-10" id="addAssemblyPanel">
							                      
											</div>
	  									</fieldset>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.auxiliaryReagent1}" th:remove="tag"></label>							
									</span>
									<div class="col-md-3">
										 <input type='text' name="auxiliaryReagent1" class="form-control" readonly="readonly"/> 
									</div>
									<div class="col-md-1">
										<span class=" btn btn-white btn-info" id="addAuxiliaryReagent1">  
		                     				<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.auxiliaryReagent.button}" th:remove="tag"></label>
		                     			</span> 
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.auxiliaryReagent2}" th:remove="tag"></label>
									</span>
									<div class="col-md-3">
										 <input type='text' name="auxiliaryReagent2" class="form-control" readonly="readonly" />  
									</div>
									<div class="col-md-1">
										<span class=" btn btn-white btn-info" id="addAuxiliaryReagent2">  
		                     				<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.auxiliaryReagent.button}" th:remove="tag"></label>
		                     			</span> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.auxiliaryReagent3}" th:remove="tag"></label>
									</span>
									<div class="col-md-3">
										 <input type='text' name="auxiliaryReagent3" class="form-control" readonly="readonly"/> 
									</div>
									<div class="col-md-1">
										<span class=" btn btn-white btn-info" id="addAuxiliaryReagent3">  
		                     				<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.auxiliaryReagent.button}" th:remove="tag"></label>
		                     			</span> 
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.rawMaterial}" th:remove="tag"></label>
									</span>
									<div class="col-md-4">
										 <select name="rawMaterial" class="form-control">
								              <option  th:each="dataConfig:${rawMaterialConfigs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
								              </option>
	                                	</select> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.inPutDate}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-4">
										<input type='text' name="inPutDate" id='addFormInPutDate' class="form-control form_datetime"/>   
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.coatingStation}" th:remove="tag"></label>
										
									</span>
									<div class="col-md-4">
										 <select name="coatingStation" class="form-control">
								              <option  th:each="dataConfig:${coatingStationConfigs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
								              </option>
	                                	</select> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.docRev}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-4">
										<input type='text' name="docRev" class="form-control" />    
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.goodsQty}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										 <input type='text' name="goodsQty" class="form-control" value="0" />   
									</div>
								</div>
							</div>
							<div class="form-group" style="display:none">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.inputQty}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-4">
										<input type='text' name="inputQty" class="form-control" />    
									</div>
								</div>
								<!-- div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.scrapQty}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-4">
										<input type='text' name="scrapQty" class="form-control" />    
									</div>
								</div-->
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.toPqcQty}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-4">
										<input type='text' name="toPqcQty" class="form-control" value="0"/>    
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.heavySmokeQty}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-4">
										<input type='text' name="heavySmokeQty" class="form-control" value="0"/>    
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.receiveQty}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-4">
										<input type='text' name="receiveQty" class="form-control" value="0"/>    
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.toOtherQty}" th:remove="tag"></label> 
									</span>
									<div class="col-md-4">
										<input type='text' name="toOtherQty" class="form-control" value="0"/>    
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.scrapQty}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-4">
										<input type='text' name="scrapQty" class="form-control" value="0"/>    
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.remark}" th:remove="tag"></label> 
									</span>
									<div class="col-md-4">
										<input type='text' name="remark" class="form-control" value=""/>    
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.crOperator1}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										 <select name="crOperator1" class="form-control">
								              <option  th:each="dataConfig:${cp1Configs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
								              </option>
	                                	</select>
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.crOperator2}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										 <select name="crOperator2" class="form-control">
								              <option  th:each="dataConfig:${cp2Configs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
								              </option>
	                                	</select> 
									</div>
								</div>
							</div>
							<div class="form-group" style="display:none">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.partNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<select name="partNum" class="form-control">
							             
	                                	</select>     
									</div>
								</div>
								<div class="rowGroup">
									
								</div>
							</div>
							<div class="form-group" style="display:none">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.theoryYield}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										 <input type='text' name="theoryYield" class="form-control" />    
									</div>
								</div>
								<div class="rowGroup">
									
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<div class="col-md-11 col-md-offset-1">
										<fieldset>
	    								<legend>
	    									<label class="blue control-label" th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.bioBom}"></label>
	    								</legend>
											<div class="col-md-2 checkbox" style="padding-bottom:10px" th:each="dataConfig,iterStat:${bioBomConfigs}">
												<label>
													<input name="bioBoms" class="ace" type="checkbox" th:value="${dataConfig.configName}">
													<span class="lbl">&nbsp;&nbsp;<span th:text="${dataConfig.configName}" th:remove="tag"></span></span>
												</label>
											</div>
	  									</fieldset>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="text-center">
									<button class="btn btn-white btn-primary">
										<i class="fa fa-check"></i> 
										<span th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.button.add}" th:remove="tag"></span>
									</button>
									<button id="addBackButton"  type="button" class="btn btn-white btn-primary" data-dismiss="modal">
										<i class="fa fa-close"></i> 
										<span th:text="#{pages.workflow.chemicalReagentManage.addChemicalReagent.form.button.shut}" th:remove="tag"></span>
									</button> 
								</div>
							</div>
						</form>
                	</div>
                </div>
               </div>
            </div>
        </div>
		<div class="clearfix"></div>
		<div id="selAssemblyManageModal">
			<div th:replace="workflow/chemicalReagent/assemblyManageModal:: content"></div>
		</div>
		<div id="reagentSingleMixture">
			<div th:replace="workflow/chemicalReagent/singleReagentMixtureModal:: content"></div>
		</div>
		<div id="reagentMultipleMixture">
			<div th:replace="workflow/chemicalReagent/multipleReagentMixtureModal:: content"></div>
		</div>
	</div>
</body>
</html>