<?xml version="1.0" encoding="UTF-8" ?> 
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.pall.portal.repository.mapper.right.RightManageDao"> 
	<select id="queryRightList" resultType="com.pall.portal.repository.entity.right.RightEntity"
	parameterType="com.pall.portal.repository.entity.right.RightQueryFormEntity"> 
 		select rightid,righttype,dataid,mDESCRIPTION rDetail from t_ums_right where 1=1
 		<if test="rightType != null and rightType != ''">  
	       AND AND f.righttype = #{rightType}
	    </if>
	     order by righttype desc limit #{startPageNum},#{pageSize}
 	</select> 
	<select id="queryRightTotalRecords" resultType="int"
	parameterType="com.pall.portal.repository.entity.right.RightQueryFormEntity"> 
 		select count(1) from t_ums_right where 1=1
 		<if test="rightType != null and rightType != ''">  
	       AND AND f.righttype = #{rightType}
	    </if>
 	</select>
 	<update id="modRole" parameterType="com.pall.portal.repository.entity.role.RoleEntity">
         update t_ums_role f set ROLENAME=#{roleName},DESCRIPTION=#{rDetail} where f.roleid = #{roleid}
    </update>
    <insert id="addRole" parameterType="com.pall.portal.repository.entity.role.RoleEntity">
    	<selectKey keyProperty="roleid" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
         insert into t_ums_role(ROLENAME,DESCRIPTION)values(#{roleName},#{rDetail})
    </insert>
    <delete id="delRight"  parameterType="java.util.List">  
        DELETE FROM t_ums_right WHERE dataid in 
        <foreach collection="dataids" item="item" index="index" open="(" close=")" separator=",">  
        	#{item}  
    	</foreach>
    	and righttype in 
    	<foreach collection="rightTypes" item="item" index="index" open="(" close=")" separator=",">  
        	#{item}  
    	</foreach>
	</delete>
</mapper> 
