<?xml version="1.0" encoding="UTF-8" ?> 
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.pall.portal.repository.mapper.user.UserManageDao"> 
	<select id="findUserByUserName" resultType="com.pall.portal.repository.entity.user.UserEntity" parameterType="java.lang.String"> 
 		select OPERATORID,NAME,ACCOUNT,PASSWORD,SEX,POSITION,DEPTID,MOBILE,EMAIL,GROUPLIST,PROVINCEID,OPERATORTYPE,STATUS,UPDATEPWDFLAG,UPDATETIME from t_ums_admininfo f where 1=1 
 		<if test="userName != null and userName != '' ">  
	       AND f.ACCOUNT = #{userName}  
	    </if>
	    <if test="operatorid != null and operatorid != '' ">  
	       AND f.OPERATORID = #{operatorid,jdbcType=INTEGER}  
	    </if>
 	</select> 
 	<select id="findUserList" resultType="com.pall.portal.repository.entity.user.UserEntity" parameterType="com.pall.portal.repository.entity.user.UserQueryFormEntity"> 
 		select OPERATORID,NAME,ACCOUNT,SEX,POSITION,DEPTID,MOBILE,EMAIL,GROUPLIST,PROVINCEID,OPERATORTYPE,STATUS,UPDATEPWDFLAG,str_to_date(createtime,'%Y-%m-%d %H:%i:%s')createtime,str_to_date(UPDATETIME,'%Y-%m-%d %H:%i:%s')updatetime from t_ums_admininfo a 
 		where 1=1
 		<if test="account != null and account != '' ">  
	       AND a.ACCOUNT = #{account}  
	    </if> 
	    <if test="operatorType!=null and operatorType!=''">  
	       AND a.OPERATORTYPE = #{operatorType,jdbcType=INTEGER}  
	    </if> 
	    <if test="mobile != null and mobile != ''">  
	       AND a.MOBILE = #{mobile}  
	    </if> 
 		 order by a.updatetime desc limit #{startPageNum},#{pageSize}
 	</select>
 	<select id="findUserTotalRecords" resultType="int" parameterType="com.pall.portal.repository.entity.user.UserQueryFormEntity"> 
 		select count(1) from t_ums_admininfo a 
 		where 1=1
 		<if test="account != null and account != '' ">  
	       AND a.ACCOUNT = #{account}  
	    </if> 
	    <if test="operatorType!=null and operatorType!=''">  
	       AND a.OPERATORTYPE = #{operatorType}  
	    </if> 
	    <if test="mobile != null and mobile != ''">  
	       AND a.MOBILE = #{mobile}  
	    </if> 
 	</select>
 	<update id="modifyUser" parameterType="com.pall.portal.repository.entity.user.UserEntity">
         update t_ums_admininfo f set NAME=#{name},SEX=#{sex},POSITION=#{position},MOBILE=#{mobile},EMAIL=#{email},OPERATORTYPE=#{operatorType},UPDATETIME=now()  where f.OPERATORID = #{operatorid}
    </update>
    <insert id="addUser" parameterType="com.pall.portal.repository.entity.user.UserEntity">
    	<selectKey keyProperty="operatorid" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
         insert into t_ums_admininfo(NAME,ACCOUNT,SEX,POSITION,MOBILE,EMAIL,OPERATORTYPE,CREATETIME,UPDATETIME)values(#{name},#{account},#{sex},#{position},#{mobile},#{email},#{operatorType},now(),now())
    </insert>
    <insert id="addUserPermission" parameterType="com.pall.portal.repository.entity.user.UserPermissionEntity">
         insert into t_ums_userpermission(operatorid,roleid)values(
         <choose>
	        <when test="operatorType==1">
	           #{operatorid},1)
	        </when>
	        <otherwise>
	            #{operatorid},2)
	        </otherwise>
    	</choose>
    </insert>
    <delete id="delUser"  parameterType="java.util.List">  
        DELETE FROM t_ums_admininfo WHERE OPERATORID in 
        <foreach collection="operatorids" item="item" index="index" open="(" close=")" separator=",">  
        	#{item}  
    	</foreach> 
	</delete>
	<delete id="delUserPermission"  parameterType="java.util.List">  
        DELETE FROM t_ums_userpermission WHERE OPERATORID in 
        <foreach collection="operatorids" item="item" index="index" open="(" close=")" separator=",">  
        	#{item}  
    	</foreach> 
	</delete>
	<update id="modifyPwd"  parameterType="com.pall.portal.repository.entity.user.ModifyUPwdEntity">
         update t_ums_admininfo f set PASSWORD=#{password},UPDATETIME=now()  where f.OPERATORID = #{operatorid}
    </update>
</mapper> 
