<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/indexModel">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="#{pages.system.name}+'-'+#{pages.role.roleManage.title}"></title>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/role/js/roleManage.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/role/js/addRole.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/role/js/modifyRole.js(path=${contextPath})}"></script>
    </head>
    <body>
        <div th:fragment="content">
        	<div class="x_panel ">
                 <div class="x_title ">
                    <h2><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;<label th:text="#{pages.role.roleManage.title}" th:remove="tag"></label></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                 <div class="x_content">
                 	 <div class="row">
			            <form id="queryForm" method="post" class="form-horizontal">
		                    <div class="panel-group" id="steps">
		                        <div class="panel panel-primary">
		                            <div class="panel-heading">
		                                <h4 class="panel-title">
		                                	<i class="fa fa-search"></i><a data-toggle="collapse" data-parent="#steps" href="#stepOne" th:text="#{pages.role.roleManage.form.title}"></a>
		                              	</h4>
		                            </div>
		                            <div id="stepOne" class="panel-collapse collapse in  ">
		                                <div class="panel-body">
		                                	<div class="col-md-4">
			                                	<div class="input-group">
			                                		<span class="input-group-addon"><label th:text="#{pages.role.roleManage.form.roleName}" th:remove="tag"></label></span>
							                        <input type='text' name="roleName"   class="form-control" /> 
			                                	</div>
						                    </div>
						                    
						                    <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
						                        <button id="btn-query" class="btn btn-primary" type="button">
						                        <i class="fa fa-search"></i>
			                 						<span th:text="#{pages.role.roleManage.form.query.button.tip}" th:remove="tag"></span>
												</button> 
						                    </div>
						                    
		                                </div>
		                            </div>
		                        </div>
		                    </div>
                		</form>
    				</div>
    				<div class="row-fluid">
    					<div class="pull-right">
					        <div class="btn-group">
					            <button type="button" class="btn btn-primary btn-sm" id="btn-add">
					                <i class="fa fa-plus"></i>
					                <span th:text="#{pages.role.roleManage.table.button.add}" th:remove="tag"></span>
					            </button>
					            <button type="button" class="btn btn-primary btn-sm" id="btn-delAll">
					                <i class="fa fa-remove"></i>
					                <span th:text="#{pages.role.roleManage.table.button.batchdel}" th:remove="tag"></span>
					            </button>
					            <button id="btn_refresh" type="button" class="btn btn-primary btn-sm">
					                <i class="fa fa-refresh"></i>
					                <span th:text="#{pages.role.roleManage.table.button.refresh}" th:remove="tag"></span>
					            </button>
					        </div>
    					</div>
    				</div>
                 	<div class="row" id="div-table-container">
                 		<table id="datatable" class="table jambo_table table-bordered">
							<thead>
								<tr>
									<th>
										<input class="iCheck" type="checkbox" name="cb-check-all"/>
									</th>
									<th th:text="#{pages.role.roleManage.table.title.roleid}"></th>
									<th th:text="#{pages.role.roleManage.table.title.roleName}"></th>
									<th th:text="#{pages.role.roleManage.table.title.proleid}"></th>
									<th th:text="#{pages.role.roleManage.table.title.proleName}"></th>
									<th th:text="#{pages.role.roleManage.table.title.description}"></th>
									<th th:text="#{pages.role.roleManage.table.title.operator}"></th>
								</tr>
							</thead>
						</table>
                 	</div>
        		</div>
            </div>
          	<div class="clearfix"></div>
          	<div id="addRole">
				<div th:replace="sysmanage/role/addRoleModal:: content"></div>
			</div>
			<div id="modRole">
				<div th:replace="sysmanage/role/modRoleModal:: content"></div>
			</div>
        </div>
    </body>
</html>