<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{pages.system.name}+'-'+#{pages.defect.addDefectInfo.title}"></title>
</head>
<body>
	<div th:fragment="content">
		<form method="POST" id="addDataForm" class="form-horizontal" >
			<div id="addDefectModal" class="modal fade" tabindex="-1" role="dialog"
				aria-hidden="true" style="display: none;">
				<div class="modal-dialog modal-sm" style="width:560px;">
					<div class="modal-content">
						<div class="modal-header no-padding">
							<div class="table-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									<span class="white">&times;</span>
								</button>
								<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;
								<label th:text="#{pages.defect.addDefectInfo.title}" th:remove="tag"></label>
							</div>
						</div>
						<div class="modal-body no-padding" style="overflow-y:hidden;height:300px;">
							<div class="modal-body">
								<div class="form-group">
									<span class="col-sm-3 control-label">
										<label th:text="#{pages.defect.defectManage.form.workflow.titile}" th:remove="tag"></label>
									</span>
									<div class="col-sm-8">
										<select name="workflow" class="form-control" disabled="disabled">
					                        <option  th:each="dataConfigType:${dataConfigTypes}" th:text="${dataConfigType.dataTypeName}" th:value="${dataConfigType.dataType}">
							              	</option>				                                   
	                                    </select>
									</div>
								</div>
								<div class="form-group">
									<span class="col-sm-3 control-label">
										<label th:text="#{pages.defect.defectManage.form.defecttype.titile}" th:remove="tag"></label>
									</span>
									<div class="col-sm-8">
										<select name="defectType" class="form-control" disabled="disabled">
					                        <!--  option value="" th:text="#{pages.defect.defectManage.form.defecttype.select.uninvolved}"></option-->
					                        <option value="2" th:text="#{pages.defect.defectManage.form.defecttype.select.work}"></option>
					                        <option value="1" th:text="#{pages.defect.defectManage.form.defecttype.select.nowork}"></option>
					                         <option value="2" th:text="#{pages.defect.defectManage.form.defecttype.select.work}"></option>
							                                     <option value="1" th:text="#{pages.defect.defectManage.form.defecttype.select.nowork}"></option>
							                                     <option value="3" th:text="#{pages.defect.defectManage.form.defecttype.select.clamping}"></option>
							                                     <option value="4" th:text="#{pages.defect.defectManage.form.defecttype.select.install.hub}"></option>
							                                     <option value="5" th:text="#{pages.defect.defectManage.form.defecttype.select.other}"></option>
	                                    </select>
									</div>
								</div>
								<div class="form-group">
									<input type="hidden" name="dataType" />
									<span class="col-sm-3 control-label">
										<label th:text="#{pages.defect.addDefectInfo.input.configname}" th:remove="tag"></label>
									</span>
									<div class="col-sm-8">
										<select id="configName" name="configName" class="form-control">
							              <option  th:each="dataConfig:${sinfoDataConfigs}"  th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select>
									</div>
								</div>
								<div class="form-group">
									<span class="col-sm-3 control-label" style="padding-bottom:39px">
										<label th:text="#{pages.defect.addDefectInfo.textarea.description}" th:remove="tag"></label>
									</span>
									<div class="col-sm-8">
										<textarea name="description" rows="3" class="form-control input-group-sm"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer no-margin-top">
							<button class="btn btn-white btn-primary" type="submit">
								<i class="fa fa-check"></i> 
								<span th:text="#{pages.defect.addDefectInfo.button.add}" th:remove="tag"></span>
							</button>
							<button type="button" class="btn btn-white btn-primary" data-dismiss="modal">
								<i class="fa fa-close"></i> 
								<span th:text="#{pages.defect.addDefectInfo.button.shut}" th:remove="tag"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>