<?xml version="1.0" encoding="UTF-8" ?> 
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.pall.wdpts.repository.mapper.trackinglist.DSPAssembleDao"> 
	<select id="queryDSPList" resultType="com.pall.wdpts.repository.entity.trackinglist.DSPEntity"
	parameterType="com.pall.wdpts.repository.entity.trackinglist.DSPFormQueryEntity"> 
 		select assemble_time assembleTime,production_time productionTime,dsp_pn dspPn,serial_no serialNo,workorder_no workorderNo,dsp_model dspModel,exception_record exceptionRecord,assemble_Operator assembleOperator,f.input_time inputTime,f.update_time updateTime,
f.operatorid,g.account operatorName from t_trackinglist_dsp f left join t_ums_admininfo g on f.operatorid=g.operatorid where 1=1 
	     <if test="startAssembleTime != null and startAssembleTime != '' ">  
	       AND f.assemble_time &gt;= #{startAssembleTime}  
	    </if>
	    <if test="endAssembleTime != null and endAssembleTime != '' ">  
	       AND f.assemble_time &lt;= #{endAssembleTime}  
	    </if>
	    <if test="dspID != null and dspID != '' ">  
	       AND f.dsp_id=#{dspID}  
	    </if>
	    <if test="dspPn != null and dspPn != '' ">  
	       AND f.dsp_pn =#{dspPn}   
	    </if>
	    <if test="serialNo != null and serialNo != '' ">  
	       AND f.serial_no = #{serialNo}  
	    </if>
	    <if test="workorderNo != null and workorderNo != '' ">  
	       AND f.workorder_no = #{workorderNo}  
	    </if>
	    <if test="dspModel != null and dspModel != '' ">  
	       AND f.dsp_model = #{dspModel}  
	    </if>
	     order by f.update_time desc limit #{startPageNum},#{pageSize}
 	</select> 
	<select id="queryDSPTotalRecords" resultType="int" parameterType="com.pall.wdpts.repository.entity.trackinglist.DSPFormQueryEntity"> 
 		select count(1) from t_trackinglist_dsp f  where 1=1
		 <if test="startAssembleTime != null and startAssembleTime != '' ">  
	       AND f.assemble_time &gt;= #{startAssembleTime}  
	    </if>
	    <if test="endAssembleTime != null and endAssembleTime != '' ">  
	       AND f.assemble_time &lt;= #{endAssembleTime}  
	    </if>
	    <if test="dspID != null and dspID != '' ">  
	       AND f.dsp_id=#{dspID}  
	    </if>
	    <if test="dspPn != null and dspPn != '' ">  
	       AND f.dsp_pn =#{dspPn}   
	    </if>
	    <if test="serialNo != null and serialNo != '' ">  
	       AND f.serial_no = #{serialNo}  
	    </if>
	    <if test="workorderNo != null and workorderNo != '' ">  
	       AND f.workorder_no = #{workorderNo}  
	    </if>
	    <if test="dspModel != null and dspModel != '' ">  
	       AND f.dsp_model = #{dspModel}  
	    </if>
 	</select>
    <insert id="addDSP" parameterType="com.pall.wdpts.repository.entity.trackinglist.DSPEntity">
    	<selectKey keyProperty="dspID" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
    	insert into  t_trackinglist_dsp(assemble_time,production_time,dsp_pn,serial_no,workorder_no,dsp_model,exception_record,assemble_Operator,operatorid,input_time,update_time)
        values(#{assembleTime},#{productionTime},#{dspPn},#{serialNo},#{workorderNo},#{dspModel},#{exceptionRecord},#{assembleOperator},#{operatorid},now(),now())
    </insert>
    <update id="modifyDSP" parameterType="com.pall.wdpts.repository.entity.trackinglist.DSPEntity">
        update  t_trackinglist_dsp f set f.assemble_time=#{assembleTime},f.production_time=#{productionTime},f.dsp_pn=#{dspPn},f.serial_no=#{serialNo},f.workorder_no=#{workorderNo},f.dsp_model=#{dspModel},f.exception_record=#{exceptionRecord},
        f.assemble_Operator=#{assembleOperator},f.operatorid=#{operatorid},f.update_time=now()
        where f.dsp_id=#{dspID}
    </update>
    <delete id="delDSP"  parameterType="java.util.List">  
        DELETE FROM t_trackinglist_dsp WHERE dsp_id in 
        <foreach collection="dspIDS" item="item" index="index" open="(" close=")" separator=",">  
        	#{item}  
    	</foreach> 
	</delete>
	<delete id="delDSPAssemble"  parameterType="java.util.List">  
        DELETE FROM t_trackinglist_dsp_assemble WHERE dsp_id in 
        <foreach collection="dspIDS" item="item" index="index" open="(" close=")" separator=",">  
        	#{item}  
    	</foreach> 
	</delete>
	<select id="queryDSPAssembleList" resultType="com.pall.wdpts.repository.entity.trackinglist.DSPAssembleEntity"> 
 		select dsp_id,component_name componentName,component_no componentNo,serial_no_record serialNoRecord,remarks from t_trackinglist_dsp_assemble f where f.dsp_id=#{dspID} 
 	</select> 
</mapper> 
