<?xml version="1.0" encoding="UTF-8" ?> 
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.pall.wdpts.repository.mapper.workflow.TwiceChemicalReagentDao"> 
	<select id="queryTwiceChemicalReagentList" resultType="com.pall.wdpts.repository.entity.workflow.TwiceChemicalReagentEntity"
	parameterType="com.pall.wdpts.repository.entity.workflow.TwiceChemicalReagentQueryFormEntity"> 
 		select f.cr_id crID,f.lot lot,f.biobom bioBom,f.bio_pat_num bioPatNum,f.croperator1 crOperator1,f.croperator2 crOperator2,f.raw_material rawMaterial,f.in_put_date inPutDate,f.coating_station coatingStation,f.doc_rev docRev,
 		f.goods_qty goodsQty,f.auxiliary_reagent1 auxiliaryReagent1,f.auxiliary_reagent2 auxiliaryReagent2,f.auxiliary_reagent3 auxiliaryReagent3,f.input_qty inputQty,f.scrap_qty scrapQty,f.receive_qty receiveQty,f.heavy_smoke_qty heavySmokeQty,f.to_pqc_qty toPqcQty,f.to_other_qty toOtherQty,
 		f.part_num partNum,f.theory_yield theoryYield,f.actual_yield actualYield,f.theory_actual_yield theoryActualYield,f.input_time inputTime,f.update_time updateTime,
        f.remark,f.operatorid,g.account operatorName from t_ums_workflow_twicebiocoating f left join t_ums_admininfo g on f.operatorid=g.operatorid where 1=1 
		<if test="lot != null and lot != '' ">  
	       AND f.lot = #{lot}  
	    </if>
	    <if test="startInPutDate != null and startInPutDate != '' ">  
	      AND f.in_put_date &gt;= #{startInPutDate}  
	    </if>
	    <if test="endInPutDate != null and endInPutDate != '' ">  
	       AND f.in_put_date &lt;= #{endInPutDate}  
	    </if>
	    <if test="crID != null and crID != '' ">  
	       AND f.cr_id = #{crID}  
	    </if>
	     <if test="bioPatNum != null and bioPatNum != '' ">  
	       AND f.bio_pat_num = #{bioPatNum}  
	    </if>
	    <if test="trayNum != null and trayNum != '' "> 
	       AND exists(select 1 from t_ums_workflow_twicebiocoating_relation a where a.cr_id=f.cr_id and a.tray_num=#{trayNum})  
	    </if>
	    <if test="oldLotNum != null and oldLotNum != '' ">  
	       AND exists(select 1 from t_ums_workflow_twicebiocoating_relation b where b.cr_id=f.cr_id and b.old_lot_num=#{oldLotNum})  
	    </if>
	     <if test="oldTrayNum != null and oldTrayNum != '' ">  
	       AND exists(select 1 from t_ums_workflow_twicebiocoating_relation b where b.cr_id=f.cr_id and b.old_tray_num=#{oldTrayNum})  
	    </if>
	     <if test="oldBioPatNum != null and oldBioPatNum != '' ">  
	       AND exists(select 1 from t_ums_workflow_twicebiocoating_relation b where b.cr_id=f.cr_id and b.old_bio_pat_num=#{oldBioPatNum})  
	    </if>
	    <if test="chemicalLotNum != null and chemicalLotNum != '' ">  
	       AND exists(select 1 from t_ums_workflow_twicebiocoating_reagents c where c.cr_id=f.cr_id and c.reagents_sn=#{chemicalLotNum})  
	    </if>
	     order by f.update_time desc limit #{startPageNum},#{pageSize}
 	</select> 
	<select id="queryTwiceChemicalReagentTotalRecords" resultType="int" parameterType="com.pall.wdpts.repository.entity.workflow.TwiceChemicalReagentQueryFormEntity"> 
 		select count(1) from t_ums_workflow_twicebiocoating f  where 1=1
		<if test="lot != null and lot != '' ">  
	       AND f.lot = #{lot}  
	    </if>
	    <if test="startInPutDate != null and startInPutDate != '' ">  
	      AND f.in_put_date &gt;= #{startInPutDate}  
	    </if>
	    <if test="endInPutDate != null and endInPutDate != '' ">  
	       AND f.in_put_date &lt;= #{endInPutDate}  
	    </if>
	    <if test="crID != null and crID != '' ">  
	       AND f.cr_id = #{crID}  
	    </if>
	     <if test="bioPatNum != null and bioPatNum != '' ">  
	       AND f.bio_pat_num = #{bioPatNum}  
	    </if>
	    <if test="trayNum != null and trayNum != '' "> 
	       AND exists(select 1 from t_ums_workflow_twicebiocoating_relation a where a.cr_id=f.cr_id and a.tray_num=#{trayNum})  
	    </if>
	    <if test="oldLotNum != null and oldLotNum != '' ">  
	       AND exists(select 1 from t_ums_workflow_twicebiocoating_relation b where b.cr_id=f.cr_id and b.old_lot_num=#{oldLotNum})  
	    </if>
	     <if test="oldTrayNum != null and oldTrayNum != '' ">  
	       AND exists(select 1 from t_ums_workflow_twicebiocoating_relation b where b.cr_id=f.cr_id and b.old_tray_num=#{oldTrayNum})  
	    </if>
	     <if test="oldBioPatNum != null and oldBioPatNum != '' ">  
	       AND exists(select 1 from t_ums_workflow_twicebiocoating_relation b where b.cr_id=f.cr_id and b.old_bio_pat_num=#{oldBioPatNum})  
	    </if>
	    <if test="chemicalLotNum != null and chemicalLotNum != '' ">  
	       AND exists(select 1 from t_ums_workflow_twicebiocoating_reagents c where c.cr_id=f.cr_id and c.reagents_sn=#{chemicalLotNum})  
	    </if>
 	</select>
 	
    <insert id="addTwiceChemicalReagent" parameterType="com.pall.wdpts.repository.entity.workflow.TwiceChemicalReagentEntity">
    	<selectKey keyProperty="crID" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
    	insert into  t_ums_workflow_twicebiocoating(lot,biobom,bio_pat_num,croperator1,croperator2,raw_material,in_put_date,coating_station,doc_rev,goods_qty,auxiliary_reagent1,auxiliary_reagent2,auxiliary_reagent3,input_qty,
		scrap_qty,receive_qty,heavy_smoke_qty,to_pqc_qty,to_other_qty,part_num,theory_yield,actual_yield,theory_actual_yield,remark,operatorid,input_time,update_time)
        values(#{lot},#{bioBom},#{bioPatNum},#{crOperator1},#{crOperator2},#{rawMaterial},#{inPutDate},#{coatingStation},#{docRev},#{goodsQty},#{auxiliaryReagent1},#{auxiliaryReagent2},#{auxiliaryReagent3},#{inputQty},#{scrapQty},#{receiveQty},#{heavySmokeQty},#{toPqcQty},#{toOtherQty},#{partNum},#{theoryYield},#{actualYield},#{theoryActualYield},#{remark},#{operatorid},now(),now())
    </insert>
    <update id="modifyTwiceChemicalReagent" parameterType="com.pall.wdpts.repository.entity.workflow.TwiceChemicalReagentEntity">
        update  t_ums_workflow_twicebiocoating f set f.lot=#{lot},f.biobom=#{bioBom},f.bio_pat_num=#{bioPatNum},f.croperator1=#{crOperator1},f.croperator2=#{crOperator2},f.raw_material=#{rawMaterial},f.in_put_date=#{inPutDate},f.coating_station=#{coatingStation},f.doc_rev=#{docRev},
			f.goods_qty=#{goodsQty},f.auxiliary_reagent1=#{auxiliaryReagent1},f.auxiliary_reagent2=#{auxiliaryReagent2},f.auxiliary_reagent3=#{auxiliaryReagent3},f.input_qty=#{inputQty},f.remark=#{remark},
			f.part_num=#{partNum},f.scrap_qty=#{scrapQty},f.receive_qty=#{receiveQty},f.heavy_smoke_qty=#{heavySmokeQty},f.to_pqc_qty=#{toPqcQty},f.to_other_qty=#{toOtherQty},f.theory_yield=#{theoryYield},f.actual_yield=#{actualYield},f.theory_actual_yield=#{theoryActualYield},
			f.operatorid=#{operatorid},f.update_time=now()
        where f.cr_id=#{crID}
    </update>
    <delete id="delTwiceChemicalReagent"  parameterType="java.util.List">  
        DELETE FROM t_ums_workflow_twicebiocoating WHERE cr_id in 
        <foreach collection="crIDs" item="item" index="index" open="(" close=")" separator=",">  
        	#{item}  
    	</foreach> 
	</delete>
	<delete id="delTwiceChemicalCompoundReagents"  parameterType="java.util.List">  
        DELETE FROM t_ums_workflow_twicebiocoating_reagents WHERE cr_id in 
        <foreach collection="crIDs" item="item" index="index" open="(" close=")" separator=",">  
        	#{item}  
    	</foreach> 
	</delete>
	<delete id="delTwiceChemicalReagentRelations"  parameterType="java.util.List">  
        DELETE FROM t_ums_workflow_twicebiocoating_relation WHERE cr_id in 
        <foreach collection="crIDs" item="item" index="index" open="(" close=")" separator=",">  
        	#{item}  
    	</foreach> 
	</delete>
	<insert id="addTwiceChemicalCompoundReagents" parameterType="com.pall.wdpts.repository.entity.workflow.TwiceChemicalCompoundReagentsEntity">
		 insert into t_ums_workflow_twicebiocoating_reagents(cr_id,reagents_field_name,main_reagent,reagents_name,reagents_sn) 
		 select #{crID},#{reagentsFieldName},f.main_reagent,f.reagents_name,#{reagentsSn} from t_ums_reagentmixture_sns f where f.srmid=#{srmid}
    </insert>
    <insert id="addTwiceChemicalReagentRelations" parameterType="java.util.List">
		 insert into t_ums_workflow_twicebiocoating_relation(cr_id,tray_num,old_lot_num,old_tray_num,old_bio_pat_num)VALUES
		<foreach collection="list" item="item" index="index" separator="," >  
		        (#{item.crID},#{item.trayNum},#{item.oldLotNum},#{item.oldTrayNum},#{item.oldBioPatNum})
    	</foreach> 
    </insert>
    <select id="queryTwiceChemicalCompoundReagents" resultType="com.pall.wdpts.repository.entity.workflow.TwiceChemicalCompoundReagentsEntity" parameterType="java.util.List"> 
 		select f.cr_id crID,f.reagents_field_name reagentsFieldName,f.main_reagent mainReagent,f.reagents_name reagentsName,f.reagents_sn reagentsSn from t_ums_workflow_twicebiocoating_reagents f where cr_id in 
        <foreach collection="crIDs" item="item" index="index" open="(" close=")" separator=",">  
        	#{item}  
    	</foreach> 
 	</select> 
 	<select id="getTwiceChemicalReagentRelations" resultType="com.pall.wdpts.repository.entity.workflow.TwiceChemicalReagentRelationEntity" > 
 		select a.cr_id crID,a.tray_num trayNum,a.old_lot_num oldLotNum,a.old_tray_num oldTrayNum,a.old_bio_pat_num oldBioPatNum from t_ums_workflow_twicebiocoating_relation a where a.cr_id=#{crID}
 	</select> 
 	<select id="queryTwiceChemicalReagentRelations" resultType="com.pall.wdpts.repository.entity.workflow.TwiceChemicalReagentRelationEntity" parameterType="java.util.List"> 
 		select  a.cr_id crID,group_concat(distinct a.tray_num) trayNum,group_concat(distinct a.old_lot_num)oldLotNum,group_concat(distinct a.old_tray_num)oldTrayNum,group_concat(distinct a.old_bio_pat_num)oldBioPatNum from t_ums_workflow_twicebiocoating_relation a  
 		where a.cr_id in 
        <foreach collection="crIDs" item="item" index="index" open="(" close=")" separator=",">  
        	#{item}  
    	</foreach> 
 		GROUP BY a.cr_id 
 	</select>
 	<select id="queryTwiceChemicalReagentMixtureList" resultType="com.pall.wdpts.repository.entity.workflow.TwiceChemicalCompoundReagentsEntity"
	parameterType="com.pall.wdpts.repository.entity.workflow.ChemicalReagentMixtureQueryFormEntity"> 
 		select f.cr_id crID,f.reagents_field_name reagentsFieldName,f.main_reagent mainReagent,f.reagents_name reagentsName,f.reagents_sn reagentsSn from t_ums_workflow_twicebiocoating_reagents f where 1=1 
		<if test="crID != null and crID != '' ">  
	       AND f.cr_id = #{crID}  
	    </if>
	     order by f.main_reagent desc limit #{startPageNum},#{pageSize}
 	</select> 
	<select id="queryTwiceChemicalReagentMixtureTotalRecords" resultType="int" parameterType="com.pall.wdpts.repository.entity.workflow.TwiceChemicalReagentMixtureQueryFormEntity"> 
 		select count(1) from t_ums_workflow_twicebiocoating_reagents f  where 1=1
		<if test="crID != null and crID != '' ">  
	       AND f.cr_id = #{crID}  
	    </if>
 	</select>
</mapper> 
