<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title th:text="#{pages.system.name}+'-'+#{pages.workflow.platedfilm.addPlatedfilm.title}"></title>
	<script type="text/javascript" th:src="@{{path}/dist/workflow/platedfilm/js/modifyPlatedFilmInfo.js(path=${contextPath})}"></script>
	<script type="text/javascript" th:src="@{{path}/dist/workflow/platedfilm/js/selectOpticalFilming.js(path=${contextPath})}"></script>
</head>
<body>
	<div th:fragment="content">
		 <div th:fragment="content">
        	<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="javascript:void(0)"  class="homemenu" ></a>
					</li>
					<li>
						<a href="javascript:void(0)" class="submenumenu"></a>
					</li>
					<li>
						<a href="javascript:void(0)" th:onclick="'javascript:LoadPage(\''+${#httpServletRequest.getContextPath()}+'/workflow/modPlatedFilm?opfID='+${platedFilmEntity.pfID}+'&operator=copy\');'" th:text="#{pages.workflow.platedfilm.addPlatedfilm.title}"></a>
					</li>
				</ul>
			</div>
		<div class="page-content">
			<div class="page-content-area">
				<div class="row">
					<div class="col-xs-12">
						<form method="POST" id="modDataForm" class="form-horizontal">
							<input type='hidden' id="updateForm" name="updateForm" value="#modDataForm" /> 
							<div class="form-group"  style="display: none;">
                    			<div class="col-md-4" style="margin-bottom:20px" id="template">
                    				<div class="rowGroup">
	                    				<span class="col-md-3 control-label defect">
										</span>
										<div class="col-md-6">
											<input type='text' class="form-control" />
										</div>
										<span class="col-md-2 removeButton btn btn-sm btn-danger">
											 <i class="glyphicon glyphicon-remove"></i>
								         </span>
							         </div>
								 </div>
                			</div>
                			<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.coatingTime}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input id="operator" name="operator" type="hidden" th:value="${operator}"/>
										<input type='text' name="coatingTime" id='modFormCoatingTime' class="form-control form_datetime" th:value="${platedFilmEntity.coatingTime}"/>
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.pfTime}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="pfTime" id='modFormPfTime' class="form-control form_datetime" th:value="${platedFilmEntity.pfTime}"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.inputLotNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-3">
										<input type='text' id="inputLotNum"  name="inputLotNum"  class="form-control" readonly="readonly" th:value="${platedFilmEntity.inputLotNum}"/>
									</div>
									<span class="col-sm-1 btn btn-white btn-info" id="addInputLotNum">  
		                     			<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.button.inputLotNum.add}" th:remove="tag"></label>
		                     		</span>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.inputQty}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-4">
										<input type='text' name="inputQty" class="form-control"  th:value="${platedFilmEntity.inputQty}"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.fixtureNum}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="fixtureNum" class="form-control"  th:value="${platedFilmEntity.fixtureNum}"/>  
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.fixtureAttribute}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4 control-input">
										<select name="fixtureAttribute" class="form-control">
							              <option  th:each="dataConfig:${fixtureAttrDataConfigs}" th:selected="${platedFilmEntity.fixtureAttribute==dataConfig.configName}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select>    
									</div>>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.sfBomNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-6 control-input">
										<select name="sfBomNum" class="form-control">
							              <option  th:each="dataConfig:${sfDataConfigs}" th:selected="${platedFilmEntity.sfBomNum==dataConfig.configName}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select>    
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.outputLotNum}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="outputLotNum" class="form-control"  th:value="${platedFilmEntity.outputLotNum}"/>  
									</div>
								</div>
								<div class="rowGroup" style="display:none">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.outputQty}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-4">
										<input type='text' name="outputQty" class="form-control"  th:value="${platedFilmEntity.outputQty}"/> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.scrapQty}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="scrapQty" class="form-control"  th:value="${platedFilmEntity.scrapQty}"/> 
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.underIQCQty}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="underIQCQty" class="form-control"  th:value="${platedFilmEntity.underIQCQty}"/> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.qcUseQty}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="qcUseQty" class="form-control"  th:value="${platedFilmEntity.qcUseQty}"/> 
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.functionalTestQty}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="functionalTestQty" class="form-control"  th:value="${platedFilmEntity.functionalTestQty}"/> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.toHUBQty}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="toHUBQty" class="form-control"  th:value="${platedFilmEntity.toHUBQty}"/> 
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.remainQty}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="remainQty" class="form-control"  th:value="${platedFilmEntity.remainQty}"/> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.apsCondition}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4 control-input">
										<select name="apsCondition" class="form-control">
							              <option  th:each="dataConfig:${apsDataConfigs}" th:selected="${platedFilmEntity.apsCondition==dataConfig.configName}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select>    
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.partNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4 control-input">
										<select name="partNum" class="form-control">
							              <option  th:each="dataConfig:${pnDataConfigs}" th:selected="${platedFilmEntity.partNum==dataConfig.configName}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select>    
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.workOrderNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="workOrderNum" class="form-control"  th:value="${platedFilmEntity.workOrderNum}"/> 
									</div>
								</div>
							</div>
<!-- 							<div class="form-group"> -->
<!-- 								<div class="rowGroup"> -->
<!-- 									<span class="col-md-2 control-label"> -->
<!-- 										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.qNum}" th:remove="tag"></label> -->
<!-- 										<font style="color:#a94442">*</font> -->
<!-- 									</span> -->
<!-- 									<div class="col-md-4"> -->
<!-- 										<input type='text' name="qNum" class="form-control"  th:value="${platedFilmEntity.qNum}"/>  -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 								<div class="rowGroup"> -->
<!-- 									<span class="col-md-2 control-label"> -->
<!-- 										<label th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.kNum}" th:remove="tag"></label> -->
<!-- 										<font style="color:#a94442">*</font> -->
<!-- 									</span> -->
<!-- 									<div class="col-md-4"> -->
<!-- 										<input type='text' name="kNum" class="form-control"  th:value="${platedFilmEntity.kNum}"/>  -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
							<div class="form-group">
								<div class="text-center">
									<button class="btn btn-white btn-primary">
										<i class="fa fa-check"></i> 
										<span th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.button.add}" th:remove="tag"></span>
									</button>
									<button id="modBackButton"  type="button" class="btn btn-white btn-primary" data-dismiss="modal">
										<i class="fa fa-close"></i> 
										<span th:text="#{pages.workflow.platedfilm.addPlatedfilm.form.button.shut}" th:remove="tag"></span>
									</button> 
								</div>
							</div>
						</form>
                	</div>
                </div>
               </div>
            </div>
        </div>
		<div class="clearfix"></div>
		<div id="addInputLotNumModal">
			<div th:replace="workflow/platedfilm/selectOpticalFilmingModal:: content"></div>
		</div>
	</div>
</body>
</html>