<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{pages.system.name}+'-'+#{pages.workflow.opticalfilming.modOpticalfilming.title}"></title>
</head>
<body>
	<div th:fragment="content">
		<div id="modModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_title_label" aria-hidden="true" style="display: none;">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							×
						</button>
						<h4 class="modal-title" id="modal_title_label">
							<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;<label
								th:text="#{pages.workflow.opticalfilming.modOpticalfilming.title}" th:remove="tag"></label>
						</h4>
					</div>
					<form method="POST" id="modDataForm" class="form-horizontal" >
					<div class="modal-body">
						<div class="form-group">
							<input name="pfID" type="hidden"/>
								<span class="col-md-4 control-span col-md-offset-1"> 
			                         <label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.coatingTime}" th:remove="tag"></label>
                     			</span> 
								<div class='col-md-6 control-input' >  
			                         <input type='text' name="coatingTime" id='modFormCoatingTime' class="form-control form_datetime"/>
            					</div> 
							</div>
							<div class="form-group">
								<span class="col-md-4 control-span col-md-offset-1"> 
			                         <label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.pfTime}" th:remove="tag"></label>
                     			</span> 
								<div class='col-md-6 control-input' >  
			                         <input type='text' name="pfTime" id='modFormPfTime' class="form-control form_datetime"/>
            					</div> 
							</div>
							<div class="form-group">
								<span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.inputLotNum}" th:remove="tag"></label> 
                     			</span> 
								<div class='col-md-6 control-input'>  
			                        <input type='text' name="inputLotNum" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								<span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.inputQty}" th:remove="tag"></label> 
                     			</span>  
								<div class='col-md-6 control-input'>  
			                         <input type='text' name="inputQty" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								 <span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.fixtureNum}" th:remove="tag"></label> 
                     			</span>
								<div class='col-md-6 control-input'>  
			                         <input type='text' name="fixtureNum" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								 <span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.apsBottle}" th:remove="tag"></label> 
                     			</span>
								<div class='col-md-6 control-input'>  
			                         <input type='text' name="apsBottle" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								 <span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.outputLotNum}" th:remove="tag"></label> 
                     			</span>
								<div class='col-md-6 control-input'>  
			                         <input type='text' name="outputLotNum" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								 <span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.outputQty}" th:remove="tag"></label> 
                     			</span>
								<div class='col-md-6 control-input'>  
			                         <input type='text' name="outputQty" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								 <span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.scrapQty}" th:remove="tag"></label> 
                     			</span>
								<div class='col-md-6 control-input'>  
			                         <input type='text' name="scrapQty" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								 <span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.underIQCQty}" th:remove="tag"></label> 
                     			</span>
								<div class='col-md-6 control-input'>  
			                         <input type='text' name="underIQCQty" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								 <span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.qNum}" th:remove="tag"></label> 
                     			</span>
								<div class='col-md-6 control-input'>  
			                         <input type='text' name="qNum" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								 <span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.kNum}" th:remove="tag"></label> 
                     			</span>
								<div class='col-md-6 control-input'>  
			                         <input type='text' name="kNum" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								 <span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.qcUseQty}" th:remove="tag"></label> 
                     			</span>
								<div class='col-md-6 control-input'>  
			                         <input type='text' name="qcUseQty" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								 <span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.functionalTestQty}" th:remove="tag"></label> 
                     			</span>
								<div class='col-md-6 control-input'>  
			                         <input type='text' name="functionalTestQty" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								<span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.toHUBQty}" th:remove="tag"></label>
                     			</span>  
								<div class='col-md-6 control-input'>  
			                    	<input type='text' name="toHUBQty" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								<span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.remainQty}" th:remove="tag"></label>
                     			</span>  
								<div class='col-md-6 control-input'>  
			                    	<input type='text' name="remainQty" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								<span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.apsCondition}" th:remove="tag"></label>
                     			</span>  
								<div class='col-md-6 control-input'>  
			                    	<input type='text' name="apsCondition" class="form-control" />  
            					</div>
							</div>
							<div class="form-group">
								<span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.partNum}" th:remove="tag"></label>
                     			</span>
								<div class='col-md-6 control-input'>  
			                    	<select name="partNum" class="form-control">
							              <option  th:each="dataConfig:${pnDataConfigs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                </select>  
            					</div>
							</div>
							<div class="form-group">
								<input type="hidden" name="token" />
								<span class="col-md-4 control-span col-md-offset-1">  
                     				<label th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.workOrderNum}" th:remove="tag"></label>
                     			</span> 
								<div class='col-md-6 control-input'>  
			                        <input type='text' name="workOrderNum" class="form-control" />  
            					</div>
							</div>
					</div>
					<div class="modal-footer"> 
						<button class="btn btn-primary">
							<i class="fa fa-check"></i> <span
										th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.button.mod}" th:remove="tag"></span>
						</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">
							<i class="fa fa-close"></i> <span
										th:text="#{pages.workflow.platedfilmManage.modPlatedfilmManage.form.button.shut}"
										th:remove="tag"></span>
						</button> 
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>