<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{pages.system.name}+'-'+#{pages.trackinglist.mainframe.addMainframe.title}"></title>
<script type="text/javascript" th:src="@{{path}/dist/trackinglist/mainframe/js/mainframeAssembleDatatables.js(path=${contextPath})}"></script>
<script type="text/javascript" th:src="@{{path}/dist/trackinglist/mainframe/js/mainframeInspectDatatables.js(path=${contextPath})}"></script>
<script type="text/javascript" th:src="@{{path}/dist/trackinglist/mainframe/js/selMainframeSetting.js(path=${contextPath})}"></script>
<!--  script type="text/javascript" th:src="@{{path}/dist/setting/mainframe/js/mainframeAssembleDetail.js(path=${contextPath})}"></script-->
<!-- script type="text/javascript" th:src="@{{path}/dist/setting/mainframe/js/mainframeInspectDetail.js(path=${contextPath})}"></script-->
<script type="text/javascript" th:src="@{{path}/dist/trackinglist/mainframe/js/addMainframe.js(path=${contextPath})}"></script>
</head>
<body>
	<div th:fragment="content">
		 <div th:fragment="content">
        	<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="javascript:void(0)"  class="homemenu" ></a>
				</li>
				<li>
					<a href="javascript:void(0)" class="submenumenu"></a>
				</li>
				<li>
					<a href="javascript:void(0)" th:onclick="'javascript:LoadPage(\''+${#httpServletRequest.getContextPath()}+'/trackinglist/addMainframe\');'" th:text="#{pages.trackinglist.mainframe.addMainframe.title}"></a>
				</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="page-content-area">
				<div class="row">
					<div class="col-xs-12">
						<form method="POST" id="addDataForm" class="form-horizontal">
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.mainframePn}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-3">
										<input type='hidden' id="mainframeSettingPsid" name="psid"  class="form-control" value="-1"/>
										<input type='text' id="mainframeSettingMainframePn" name="mainframePn" readonly="readonly" class="form-control" />  
									</div>
									<div class="col-md-1">
										<span class=" btn btn-white btn-info" id="addMainframePn">  
		                     				<label th:text="#{pages.trackinglist.mainframe.addMainframe.addMainframePn.button}" th:remove="tag"></label>
		                     			</span> 
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.serialNo}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="serialNo" class="form-control" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.workorderNo}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="workorderNo" class="form-control"  value=""/> 
									</div>
								</div>
								<div class="rowGroup">
									<div class="rowGroup">
										<span class="col-md-2 control-label">
											<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.mainframeModel}" th:remove="tag"></label>
											
										</span>
										<div class="col-md-4">
											<select name="mainframeModel" class="form-control">
								                <option  th:each="mainframeModelDataConfig:${mainframeModelDataConfigs}"  th:text="${mainframeModelDataConfig.configName}" th:value="${mainframeModelDataConfig.configName}">
								                </option>
		                                    </select> 
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.productionTime}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-4">
										<input type='text' name="productionTime"  id='addFormProductionTime' class="form-control form_datetime" />  
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.mainframeOption}" th:remove="tag"></label> 
										
									</span>
									<div class="col-md-2">
										<input type='text' name="mainframeOption"  class="form-control" />  
									</div>
									<div class="col-md-2">
										<input type='text' name="mainframeOption2"  class="form-control" />  
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.cOrderID}" th:remove="tag"></label> 
									</span>
									<div class="col-md-4">
										<input type='text' name="cOrderID"  class="form-control" />  
									</div>
								</div>
								<div class="rowGroup">
									
									
								</div>
							</div>
							<div class="row" style="display:none">
	                			<div class="pull-right">
							        <div class="btn-group">
							            <a type="button" class="btn btn-white btn-primary btn-sm" id="setMainframeAssembleButton" >
							                <i class="fa fa-plus"></i>
							                <span th:text="#{pages.trackinglist.mainframe.table.button.add}" th:remove="tag"></span>
							            </a>
							            <a type="button" class="btn btn-white btn-primary btn-sm" id="setMainframeInspectButton" >
							                <i class="fa fa-plus"></i>
							                <span th:text="#{pages.trackinglist.mainframe.table.button.add}" th:remove="tag"></span>
							            </a>
							            
							        </div>
	    						</div>
	                		</div>
							<div class="form-group">
								<span class="col-sm-12 control-label center">
									<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.assembleRecords}" th:remove="tag"></label>
								</span>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<div class="col-md-10 col-md-offset-1">
										<div class="row" id="mainframeAssemblesDatatableContainer">
											<table id="mainframeAssemblesDatatable" class="table table-striped table-bordered table-hover" >
					
											</table>
										</div>
									</div>
								</div>
							</div>
							
							<div class="form-group" style="display:none">
								<span class="col-sm-12 control-label center">
									<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.inspectRecords}" th:remove="tag"></label>
								</span>
							</div>
							<div class="form-group" style="display:none">
								<div class="rowGroup">
									<div class="col-md-10 col-md-offset-1">
										<div class="row" id="mainframeInspectsDatatableContainer">
											<table id="mainframeInspectsDatatable" class="table table-striped table-bordered table-hover" >
					
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<span class="col-sm-2 control-label">
									<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.exceptionRecord}" th:remove="tag"></label>
								</span>
								<div class="col-sm-10">
									<input name="exceptionRecord"  class="form-control"></input>
								</div>
							</div>
							<div class="form-group">
								<span class="col-sm-2 control-label">
									<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.remarks}" th:remove="tag"></label>
								</span>
								<div class="col-sm-10">
									<input name="remarks"  class="form-control" th:value="#{pages.trackinglist.mainframe.addMainframe.form.remarks.defaultValue}"></input>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.assembleOperator}" th:remove="tag"></label>
										<font style="color:#a94442">*</font> 
									</span>
									<div class="col-md-4">
										<input type='text' name="assembleOperator" class="form-control"  value=""/> 
									</div>
								</div>
								<div class="rowGroup">
									<div class="rowGroup">
										<span class="col-md-2 control-label">
											<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.assembleTime}" th:remove="tag"></label>
											<font style="color:#a94442">*</font>
										</span>
										<div class="col-md-4">
											<input type='text' name="assembleTime" id='addFormAssembleTime' class="form-control form_datetime"/>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group" style="display:none">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.inspectOperator}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="inspectOperator" class="form-control"  value=""/> 
									</div>
								</div>
								<div class="rowGroup">
									<div class="rowGroup">
										<span class="col-md-2 control-label">
											<label th:text="#{pages.trackinglist.mainframe.addMainframe.form.inspectTime}" th:remove="tag"></label>
											<font style="color:#a94442">*</font>
										</span>
										<div class="col-md-4">
											<input type='text' name="inspectTime" id='addFormInspectTime' class="form-control form_datetime"/>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="text-center">
									<button class="btn btn-white btn-primary">
										<i class="fa fa-check"></i> 
										<span th:text="#{pages.trackinglist.mainframe.addMainframe.form.button.add}" th:remove="tag"></span>
									</button>
									<button id="addBackButton"  type="button" class="btn btn-white btn-primary" data-dismiss="modal">
										<i class="fa fa-close"></i> 
										<span th:text="#{pages.trackinglist.mainframe.addMainframe.form.button.shut}" th:remove="tag"></span>
									</button> 
								</div>
							</div>
						</form>
                	</div>
                </div>
               </div>
            </div>
        </div>
		<div class="clearfix"></div>
		<div id="selMainframeSetting">
			<div th:replace="trackinglist/mainframe/selMainframeSettingModal:: content"></div>
		</div>
		<div id="mainframeInspectDetail">
			<!-- div th:replace="setting/mainframe/mainframeInspectDetailModal:: content"></div-->
		</div>
		<div id="mainframeAssembleDetail">
			<!-- div th:replace="setting/mainframe/mainframeAssembleDetailModal:: content"></div-->
		</div>
	</div>
</body>
</html>