<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{pages.system.name}+'-'+#{pages.setting.cisternSetting.modCisternSetting.title}"></title>
<script type="text/javascript" th:src="@{{path}/dist/setting/cistern/js/modCisternSetting.js(path=${contextPath})}"></script>
<script type="text/javascript" th:src="@{{path}/dist/setting/cistern/js/cisternAssembleDatatables.js(path=${contextPath})}"></script>
</head>
<body>
	<div th:fragment="content">
		 <div th:fragment="content">
        	<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="javascript:void(0)"  class="homemenu" ></a>
				</li>
				<li>
					<a href="javascript:void(0)" class="submenumenu"></a>
				</li>
				<li>
					<a href="javascript:void(0)" th:onclick="'javascript:LoadPage(\''+${#httpServletRequest.getContextPath()}+'/setting/modCisternSetting?csid='+${cisternSettingEntity.csid}+'&operator=\');'" th:text="#{pages.setting.cisternSetting.modCisternSetting.title}"></a>
				</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="page-content-area">
				<div class="row">
					<div class="col-xs-12">
						<form method="POST" id="modDataForm" class="form-horizontal">
							<div class="form-group">
								<div class="rowGroup">
									<span class=" col-md-2 control-label">
										<label th:text="#{pages.setting.cisternSetting.modCisternSetting.form.cisternPn}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='hidden' id="detailPsid" name="csid" class="form-control" th:value="${cisternSettingEntity.csid}"/> 
										<input type='text' name="cisternPn" class="form-control" th:value="${cisternSettingEntity.cisternPn}"/>  
									</div>
								</div>
								<div class="rowGroup">
									
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<div class="col-md-10 col-md-offset-1">
										<div class="row">
											<div class="col-md-12">
												<div class="pull-left text-info">
													
														<label th:text="#{pages.setting.cisternSetting.modCisternSetting.form.cisternSettingAssembles}" th:remove="tag"></label>
													
												</div>
												<div class="pull-right">
											        <div class="btn-group">
											            <a type="button" class="btn btn-white btn-primary btn-sm" id="addCisternSettingAssembles">
											                <i class="fa fa-plus"></i>
											                <span th:text="#{pages.setting.cisternSetting.modCisternSetting.addCisternSettingAssembles.button}" th:remove="tag"></span>
											            </a>
											        </div>
					    						</div>
										 	</div>
										</div>
										<div class="row" id="div-table-container">
											<input type="hidden" id="cisternSettingAssembles" th:value="${cisternSettingAssembles}"/>
											<table id="cisternSettingAssemblesDatatable" class="table table-striped table-bordered table-hover" >
												<!--  thead>
													<tr>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.cistern.assemble.componentName}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.cistern.assemble.componentNo}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.cistern.assemble.serialNoRecord}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.cistern.assemble.remarks}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.cistern.assemble.operator}">
															
														</th>
													</tr>
												</thead-->
												<!--  tbody>
													<tr th:each="cisternSettingAssemble,iterStat:${cisternSettingEntity.cisternSettingAssembles}">
					                          			<td>
						                          			<input type='text' class='form-control' th:name='componentName_+${iterStat.index}' th:value='${cisternSettingAssemble.componentName}'></input>
						                          			<input type='hidden' name='assembleid'  th:value='o_+${iterStat.index}'></input>
					                          			</td>
					                          			<td>
					                          				<input type='text' class='form-control' th:name='componentNo_+${iterStat.index}' th:value='${cisternSettingAssemble.componentNo}'></input>
					                          			</td>
					                          			<td>
					                          				<input type='text' class='form-control' th:name='serialNoRecord_+${iterStat.index}' th:value='${cisternSettingAssemble.serialNoRecord}'></input>
					                          			</td>
					                          			<td>
					                          				<input type='text' class='form-control' th:name='remarks_+${iterStat.index}' th:value='${cisternSettingAssemble.remarks}'></input>
					                          			</td>
					                          			<td>
					                          				<div class='btn-group'>
					                          					<button id='delCisternSettingAssembles' class='btn btn-white btn-primary ' type='button'>
					                          						<i class='fa fa-trash-o'></i>
					                          					</button>
					                          				</div>
					                          			</td>
					                          		</tr>
												</tbody-->
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="text-center">
									<button class="btn btn-white btn-primary">
										<i class="fa fa-check"></i> 
										<span th:text="#{pages.setting.cisternSetting.modCisternSetting.form.button.mod}" th:remove="tag"></span>
									</button>
									<button id="addBackButton"  type="button" class="btn btn-white btn-primary" data-dismiss="modal">
										<i class="fa fa-close"></i> 
										<span th:text="#{pages.setting.cisternSetting.modCisternSetting.form.button.shut}" th:remove="tag"></span>
									</button> 
								</div>
							</div>
						</form>
                	</div>
                </div>
               </div>
            </div>
        </div>
		<div class="clearfix"></div>
	</div>
</body>
</html>