<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="#{pages.system.name}+'-'+#{pages.workflow.clean.title}"></title>
    </head>
    <body>
    	<div th:fragment="content">
        	<div id="cleanModal" class="modal fade" tabindex="-1">
				<div class="modal-dialog" style="width:1000px;">
					<div class="modal-content">
						<div class="modal-header no-padding">
							<div class="table-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									<span class="white">&times;</span>
								</button>
								<i class="fa fa-search"></i>&nbsp;&nbsp;
								<label th:text="#{pages.workflow.clean.selClean.title}" th:remove="tag"></label>
							</div>
						</div>
						<div class="modal-body" >
							<div class="col-xs-12">
								 <form id="queryForm" method="post" class="form-horizontal">
				                    <div class="panel-group" id="steps">
				                        <div class="panel panel-primary">
				                           
				                            <div id="stepOne" class="panel-collapse collapse in  ">
				                                <div class="panel-body">
				                                	<div class="col-md-4 form-group">
					                                	<div class='input-group date'>  
					                                		<span class="input-group-addon" th:text="#{pages.workflow.clean.form.startCleanTime}">  
		                									</span>  
											                <input type='text' name="startCleanTime"  id='queryStartCleanTime' class="form-control" />  
											                <span class="input-group-addon">  
											                    <span class="glyphicon glyphicon-calendar"></span>  
											                </span>  
		            									</div> 
						                      		</div>
						                  			<div class="col-md-4 form-group" style="padding-left:60px">
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.workflow.clean.form.cleanLotNum}"></span>
									                        <input type="text" name="cleanLotNum" class="form-control"/>
					                                	</div>
						                      		</div>
													<div class="col-md-4 form-group" style="padding-left:60px">
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.workflow.clean.form.partNum}"></span>
									                        <select name="partNum" class="form-control">
									                        	<option value="" th:text="#{pages.workflow.clean.form.partNum.select.all}"></option>
									                        	<option  th:each="dataConfig:${pnDataConfigs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
									                        	</option>
			                                    			</select>
					                                	</div>
								                    </div>
								                    <div class="col-md-4 form-group">
					                                	<div class='input-group date'>  
					                                		<span class="input-group-addon" th:text="#{pages.workflow.clean.form.endCleanTime}">  
		                									</span>  
											                <input type='text' name="endCleanTime"  id='queryEndCleanTime' class="form-control" />  
											                <span class="input-group-addon">  
											                    <span class="glyphicon glyphicon-calendar"></span>  
											                </span>  
		            									</div> 
						                      		</div>
								                    <div class="col-md-4 form-group" style="padding-left:60px">
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.workflow.clean.form.workOrderNum}"></span>
									                        <input type="text" name="workOrderNum" class="form-control" />
					                                	</div>
								                    </div>
								                    <div class="col-md-4 form-group" style="padding-left:60px">
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.workflow.clean.form.fixtureNumber}"></span>
									                        <input type="text" name="fixtureNumber" class="form-control" />
					                                	</div>
								                    </div>
								                    <div class="col-md-4 form-group" style="padding-left:60px">
								                        
								                    </div>
								                    <div class="col-md-4 form-group" style="padding-left:160px">
								                        <button id="btn-query" class="btn btn-white btn-primary" type="button">
								                        <i class="fa fa-search"></i>
					                 						<span th:text="#{pages.workflow.clean.form.query.button.tip}" th:remove="tag"></span>
														</button> 
								                    </div>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
		                		</form>
	                		</div>
							<div class="col-xs-12" id="div-table-container">
		                 		<div class="table-responsive" style="overflow-x:hidden">
		                 			<input id="tableFieldBinds" name="tableFieldBinds" type="hidden" th:value="${tableFieldBinds}"/>
			                 		<table id="datatable" class="table table-striped table-bordered table-hover" >
									</table>
								</div>
		                 	</div>
						</div>
						<div class="modal-footer no-margin-top">
							<button id="selButton" class="btn btn-white btn-primary">
								<i class="fa fa-check"></i> 
								<span th:text="#{pages.workflow.clean.selClean.form.button.sel}" th:remove="tag"></span>
							</button>
							<button type="button" class="btn btn-white btn-primary" data-dismiss="modal">
								<i class="fa fa-close"></i> 
								<span th:text="#{pages.workflow.clean.selClean.form.button.shut}" th:remove="tag"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>