<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{pages.system.name}+'-'+#{pages.workflow.opticalfilming.modOpticalfilming.title}"></title>
<script type="text/javascript" th:src="@{{path}/dist/workflow/opticalfilming/js/modOpticalFilmingInfo.js(path=${contextPath})}"></script>
<script type="text/javascript" th:src="@{{path}/dist/workflow/opticalfilming/js/selectClean.js(path=${contextPath})}"></script>
</head>
<body>
	<div th:fragment="content">
		 <div th:fragment="content">
        	<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="javascript:void(0)"  class="homemenu" ></a>
				</li>
				<li>
					<a href="javascript:void(0)" class="submenumenu"></a>
				</li>
				<li>
					<a href="javascript:void(0)" th:onclick="'javascript:LoadPage(\''+${#httpServletRequest.getContextPath()}+'/workflow/modOpticalFilming?opfID='+${opticalCoatingEntity.opfID}+'&operator=\');'"  th:text="#{pages.workflow.opticalfilming.modOpticalfilming.title}"></a>
				</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="page-content-area">
				<div class="row">
					<div class="col-xs-12">
						<form method="POST" id="modDataForm" class="form-horizontal">
							<input type='hidden' id="updateForm" name="updateForm" value="#modDataForm" /> 
							<div class="form-group"  style="display: none;">
                    			<div class="col-md-4" style="margin-bottom:20px" id="modTemplate">
                    				<div class="rowGroup">
	                    				<span class="col-md-3 control-label defect">
										</span>
										<div class="col-md-6">
											<input type='text' class="form-control" />
										</div>
										<span class="col-md-2 removeButton btn btn-sm btn-danger">
											 <i class="glyphicon glyphicon-remove"></i>
								         </span>
							         </div>
								 </div>
                			</div>
                			<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.optTime}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='hidden'  name="opfID" th:value="${opticalCoatingEntity.opfID}" /> 
										<input id="operator" name="operator" type="hidden" th:value="${operator}"/>
										<input type='text' name="optTime" id='modFormOptTime' class="form-control form_datetime" th:value="${opticalCoatingEntity.optTime}"/>
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.inputLotNum}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-3">
										<input type='text' id="inputLotNum" name="inputLotNum" class="form-control" readonly="readonly" th:value="${opticalCoatingEntity.inputLotNum}"/> 
									</div>
									 <span class="col-sm-1 btn btn-white btn-info" id="addInputLotNum">  
		                     			<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.button.inputLotNum.add}" th:remove="tag"></label>
		                     		</span>
								</div>
							</div>
            				<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.inputQty}" th:remove="tag" ></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' id="inputQty" name="inputQty" class="form-control" readonly="readonly" th:value="${opticalCoatingEntity.inputQty}"/> 
									</div>
								</div>
								<div class="rowGroup">
									<div class="rowGroup">
										<span class="col-md-2 control-label">
											<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.fixtureNum}" th:remove="tag"></label>
											<font style="color:#a94442">*</font>
										</span>
										<div class="col-md-4">
											<input type='text' id="fixtureNum" name="fixtureNum" class="form-control" readonly="readonly" th:value="${opticalCoatingEntity.fixtureNum}"/> 
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.outputLotNum}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="outputLotNum" class="form-control" th:value="${opticalCoatingEntity.outputLotNum}"/>  
									</div>
								</div>
								<div class="rowGroup" style="display:none">
									<span class="col-md-2  control-label" >
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.outputQty}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="outputQty" class="form-control" th:value="${opticalCoatingEntity.outputQty}"/>  
									</div>
								</div>
							</div>
							<div class="form-group" style="display:none">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.scrapQty}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="scrapQty" class="form-control" th:value="${opticalCoatingEntity.scrapQty}"/>  
									</div>
								</div>
								<div class="rowGroup">
									
								</div>
							</div>
							<div class="form-group" style="margin-bottom:0px;padding-bottom:0px;">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.defectinfo}" th:remove="tag"></label> 
									</span>
									<div class="col-md-10">
										<div class='col-sm-10'> 
											<div class="col-md-5 form-group " style="padding-left:0px;">
						                        <select name="workingfaceType" id="modWorkingfaceType" class="form-control">
								                   <option  th:each="workingfaceType:${workingfaceTypes}" th:text="${workingfaceType.dataTypeName}" th:value="${workingfaceType.dataType}">
								                   </option>
		                                    	</select> 
	                      					</div>
											<div class="col-md-5  form-group" style="padding-left:20px;">
						                        <select id="modDefect" name="modDefect" class="form-control">
								                   <option  th:each="defectConfig:${workingfaceDefectConfigs}" th:text="${defectConfig.configName}" th:value="${opticalFilmingTableName}+${defectConfig.dataid}">
								                   </option>
		                                    	</select>
	                      					</div>
										   	<select id="modAllDefect" style="display:none">
								                <option  th:each="defectConfig:${defectConfigs}" th:text="${defectConfig.configName}" th:attr="dataType=${defectConfig.dataType}" dataType="$dataType" th:value="${opticalFilmingTableName}+${defectConfig.dataid}">
								                </option>
		                                    </select>
		                                    <div class="col-md-1 form-group has-feedback" style="padding-left:20px;">
						                        <span class="btn btn-white btn-info" id="modDefectButton">  
		                     						<label th:text="#{pages.workflow.clean.modClean.button.defect.mod}" th:remove="tag"></label>
		                     					</span>
	                      					</div>
            							</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-10 col-md-offset-1" id="modDefectPanel" role="tablist" aria-multiselectable="true" style="margin-top:10px;padding-left:0px;">
				                      <div class="panel defect-panel" th:each="workingfaceType:${workingfaceTypes}" th:id="modWorkingface+${workingfaceType.dataType}" >
				                        <div class="panel-heading collapsed defect-panel-heading" style="cursor: pointer;"  role="tab" th:id="modHead+${workingfaceType.dataType}" data-toggle="collapse"  th:href="'#modCollapse'+${workingfaceType.dataType}" aria-expanded="true" 
				                         th:attr="aria-controls='modCollapse'+${workingfaceType.dataType}"  aria-controls="$aria-controls">
				                          <h4 class="panel-title" th:text="${workingfaceType.dataTypeName}"></h4>
				                        </div>
				                        <div  th:id="modCollapse+${workingfaceType.dataType}" class="panel-collapse collapse in" role="tabpanel" 
				                        th:attr="aria-labelledby='modHead'+${workingfaceType.dataType}"  aria-labelledby="$aria-labelledby" aria-expanded="true">
				                          <div class="panel-body">
				                          		<div th:each="defect:${opticalCoatingEntity.defects}" th:remove="tag">
				                          			<div class="col-md-4" style="margin-bottom:20px" th:if="${defect.defectType}==${workingfaceType.dataType}">
					                    				<div class="rowGroup">
						                    				<span class="col-md-3 control-label defect" th:text="${defect.defectName}">
															</span>
															<div class="col-md-6">
																<input type='text' class="form-control" th:attr='name=${opticalFilmingTableName}+${defect.dataid}'  th:value="${defect.defectValue}"/>
															</div>
															<span class="col-md-2 removeButton btn btn-sm btn-danger">
																 <i class="glyphicon glyphicon-remove"></i>
													         </span>
												         </div>
									 				</div>
				                          		</div>
				                          </div>
				                        </div>
				                      </div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.qcUseQty}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="qcUseQty" class="form-control" th:value="${opticalCoatingEntity.qcUseQty}"/>
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.toOtherQty}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="toOtherQty" class="form-control" th:value="${opticalCoatingEntity.toOtherQty}"/>  
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.partNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<select name="partNum" class="form-control">
								              <option  th:each="dataConfig:${pnDataConfigs}" th:selected="${opticalCoatingEntity.partNum==dataConfig.configName}"  th:text="${dataConfig.configName}" >
								              </option>
		                                </select> 
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.workOrderNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type="hidden" name="token" />
										<input type='text' name="workOrderNum" class="form-control" th:value="${opticalCoatingEntity.workOrderNum}"/> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.supplier}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<select name="supplier" class="form-control">
							              <option  th:each="dataConfig:${supplierDataConfigs}" th:selected="${opticalCoatingEntity.supplier==dataConfig.configName}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select>
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.ocBom}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<select name="ocBom" class="form-control">
							              <option  th:each="dataConfig:${ocBomDataConfigs}" th:selected="${opticalCoatingEntity.ocBom==dataConfig.configName}"  th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="text-center">
									<button class="btn btn-white btn-primary">
										<i class="fa fa-check"></i> 
										<span th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.button.mod}" th:remove="tag"></span>
									</button>
									<button id="modBackButton"  type="button" class="btn btn-white btn-primary" data-dismiss="modal">
										<i class="fa fa-close"></i> 
										<span th:text="#{pages.workflow.opticalfilming.modOpticalfilming.form.button.shut}" th:remove="tag"></span>
									</button> 
								</div>
							</div>
						</form>
                	</div>
                </div>
               </div>
            </div>
        </div>
		<div class="clearfix"></div>
		<div id="addInputLotNumModal">
				<div th:replace="workflow/opticalfilming/selectCleanModal:: content"></div>
		</div>
	</div>
</body>
</html>