<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/indexModel">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="#{pages.system.name}+'-'+#{pages.button.buttonManage.title}"></title>
        <script type="text/javascript" th:src="@{{path}/vendors/bootstrap-table/js/bootstraptable-treeview.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/button/js/buttonManage.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/button/js/addButton.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/button/js/modifyButton.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/menu/js/treeMenu.js(path=${contextPath})}"></script>
    </head>
    <body>
    	<div th:fragment="content">
        	<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="javascript:void(0)"  class="homemenu" ></a>
					</li>
					<li>
						<a href="javascript:void(0)" class="submenumenu"></a>
					</li>
				</ul>
			</div>
			<div class="page-content">
				<div class="page-content-area">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								 <form id="queryForm" method="post" class="form-horizontal">
				                    <div class="panel-group" id="steps">
				                        <div class="panel panel-primary">
				                            <div class="panel-heading">
				                                <h4 class="panel-title">
				                                	<i class="fa fa-search"></i><a data-toggle="collapse" data-parent="#steps" href="#stepOne" th:text="#{pages.button.buttonManage.title}"></a>
				                              	</h4>
				                            </div>
				                            <div id="stepOne" class="panel-collapse collapse in  ">
				                                <div class="panel-body">
				                                	<div class="col-md-4 form-group">
					                                	<div class="input-group">
					                                		<span class="input-group-addon"><label th:text="#{pages.button.buttonManage.form.menuName}" th:remove="tag"></label></span>
									                        <input id="queryButtonMenuid" type="hidden" name="menuid" class="form-control" />
															<input id="queryButtonMenuName" name="menuName" class="form-control" />
					                                	</div>
					                                	<div class="col-sm-8 col-md-offset-2">
															<div id="queryMenutree" ></div>
														</div>
								                    </div>
				                                	<div class="col-md-4 form-group">
					                                	<div class="input-group">
					                                		<span class="input-group-addon"><label th:text="#{pages.button.buttonManage.form.btnEName}" th:remove="tag"></label></span>
									                        <input type='text' name="btnEName"   class="form-control" /> 
					                                	</div>
								                    </div>
								                    <div class="col-md-4 form-group">
					                                	<div class="input-group">
					                                		<span class="input-group-addon"><label th:text="#{pages.button.buttonManage.form.btnCName}" th:remove="tag"></label></span>
									                        <input type='text' name="btnCName"   class="form-control" /> 
					                                	</div>
								                    </div>
								                    <div class="col-md-4 form-group">
								                        <button id="btn-query" class="btn btn-primary" type="button">
								                        <i class="fa fa-search"></i>
					                 						<span th:text="#{pages.button.buttonManage.form.query.button.tip}" th:remove="tag"></span>
														</button> 
								                    </div>
								                    
				                                </div>
				                            </div>
				                        </div>
		                    		</div>
		                		</form>
	                		</div>
	                		<div class="row">
	                			<div class="pull-right">
							        <div class="btn-group">
							            <a type="button" class="btn btn-primary btn-sm" id="btn-add">
							                <i class="fa fa-plus"></i>
							                <span th:text="#{pages.button.buttonManage.table.button.add}" th:remove="tag"></span>
							            </a>
							            <a type="button" class="btn btn-primary btn-sm" id="btn-delAll">
							                <i class="fa fa-remove"></i>
							                <span th:text="#{pages.button.buttonManage.table.button.batchdel}" th:remove="tag"></span>
							            </a>
							            <a id="btn_refresh" type="button" class="btn btn-primary btn-sm">
							                <i class="fa fa-refresh"></i>
							                <span th:text="#{pages.button.buttonManage.table.button.refresh}" th:remove="tag"></span>
							            </a>
							        </div>
	    						</div>
	                		</div>
		                 	<div class="row" id="div-table-container">
		                 		<div class="table-responsive" style="overflow-x:hidden">
			                 		<table id="datatable" class="table table-striped table-bordered table-hover" >
										<thead>
											<tr>
												<th>
													<input class="ace" type="checkbox" name="cb-check-all"/>
													<span class="lbl"></span>
												</th>
												<th th:text="#{pages.button.buttonManage.table.title.buttonid}" class="center"></th>
												<th th:text="#{pages.button.buttonManage.table.title.menuid}" class="center"></th>
												<th th:text="#{pages.button.buttonManage.table.title.menuName}" class="center"></th>
												<th th:text="#{pages.button.buttonManage.table.title.btnEName}" class="center"></th>
												<th th:text="#{pages.button.buttonManage.table.title.btnCName}" class="center"></th>
												<th th:text="#{pages.button.buttonManage.table.title.btnClass}" class="center"></th>
												<th th:text="#{pages.button.buttonManage.table.title.btnIconClass}" class="center"></th>
												<th th:text="#{pages.button.buttonManage.table.title.description}" class="center"></th>
												<th th:text="#{pages.button.buttonManage.table.title.operator}" class="center"></th>
											</tr>
										</thead>
									</table>
								</div>
		                 	</div>
	        			</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div id="addButton">
				<div th:replace="sysmanage/button/addButtonModal:: content"></div>
			</div>
			<div id="modButton">
				<div th:replace="sysmanage/button/modButtonModal:: content"></div>
			</div>
		</div>
    </body>
</html>