<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/indexModel">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title
	th:text="#{pages.system.name}+'-'+#{pages.user.modifyUserInfo.title}"></title>
<script type="text/javascript" th:src="@{{path}/dist/sysmanage/user/js/modifyUserInfo.js(path=${contextPath})}"></script>
</head>
<body>
	<div th:fragment="content">
		<div class="x_panel ">
			<div class="x_title">
				<h2>
					<i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;<label
						th:text="#{pages.user.modifyUserInfo.title}" th:remove="tag"></label>
				</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content x_content_form">
				<form method="POST" id="modDataForm" class="form-horizontal">
					<div class="form-group">
						<div class="group">
							<input type="hidden" name="operatorid"
								th:value="${userEntity.operatorid}" /> <span
								class="col-sm-2 control-span col-md-offset-3"> &nbsp;&nbsp; <label
								th:text="#{pages.user.modifyPwd.input.username}" th:remove="tag"></label>
								&nbsp;&nbsp;&nbsp;&nbsp;
							</span>
							<div class="col-sm-4 control-input">
								<input name="account" class="form-control" readonly="true"
									th:placeholder="#{pages.user.modifyUserInfo.input.username.tip}"
									th:value="${userEntity.account}" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="group">
							<span class="col-sm-2 control-span col-md-offset-3"> &nbsp;&nbsp; <label
								th:text="#{pages.user.modifyUserInfo.input.name}"
								th:remove="tag"></label> &nbsp;&nbsp;&nbsp;&nbsp;
							</span>
							<div class="col-sm-4 control-input">
								<input name="name" type="text" class="form-control"
									th:placeholder="#{pages.user.modifyUserInfo.input.name.tip}"
									th:value="${userEntity.name}" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="group">
							<span class="col-sm-2 control-span col-md-offset-3"> &nbsp;&nbsp; <label
								th:text="#{pages.user.modifyUserInfo.input.position}"
								th:remove="tag"></label> &nbsp;&nbsp;&nbsp;&nbsp;
							</span>
							<div class="col-sm-4 control-input">
								<input type="text" name="position" class="form-control"
									th:placeholder="#{pages.user.modifyUserInfo.input.position.tip}"
									th:value="${userEntity.position}" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="group">
							<span class="col-sm-2 control-span col-md-offset-3"> &nbsp;&nbsp; <label
								th:text="#{pages.user.modifyUserInfo.input.mobile}"
								th:remove="tag"></label> &nbsp;&nbsp;&nbsp;&nbsp;
							</span>
							<div class="col-sm-4 control-input">
								<input type="text" name="mobile" class="form-control"
									th:placeholder="#{pages.user.modifyUserInfo.input.mobile.tip}"
									th:value="${userEntity.mobile}" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="group">
							<span class="col-sm-2 control-span col-md-offset-3"> &nbsp;&nbsp; <label
								th:text="#{pages.user.modifyUserInfo.input.email}"
								th:remove="tag"></label> &nbsp;&nbsp;&nbsp;&nbsp;
							</span>
							<div class="col-sm-4 control-input">
								<input type="text" name="email" class="form-control"
									th:placeholder="#{pages.user.modifyUserInfo.input.email.tip}"
									th:value="${userEntity.email}" />
							</div>
						</div>
					</div>
					<div class="form-group" style="display:none">
						<div class="group">
							<input type="hidden" name="token" th:value="${session.token}" />
							<span class="col-sm-2 control-span col-md-offset-3"> &nbsp;&nbsp; <label
								th:text="#{pages.user.modifyUserInfo.input.opertype}"
								th:remove="tag"></label>
							</span>
							<div class="col-sm-4 radio-group">
								<div class="checkbox-inline">
									<input type="radio" name="operatorType" value="1"
										th:checked="${userEntity.operatorType == 1}?'checked'" /> <label
										th:text="#{pages.user.modifyUserInfo.input.opertype.admin}"
										th:remove="tag"></label>
								</div>
								<div class="checkbox-inline">
									<input type="radio" name="operatorType" value="2"
										th:checked="${userEntity.operatorType == 2}?'checked'" /> <label
										th:text="#{pages.user.modifyUserInfo.input.opertype.user}"
										th:remove="tag"></label>
								</div>
							</div>
						</div>
					</div>
					 
					<div class="form-group text-center">
						<button class="btn btn-primary submit-btn">
							<i class="fa fa-check"></i> <span
								th:text="#{pages.user.modifyUserInfo.button.mod}"
								th:remove="tag"></span>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</body>
</html>