<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/indexModel">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title
	th:text="#{pages.system.name}+'-'+#{pages.user.personalPwdSettings.title}"></title>
<script type="text/javascript" th:src="@{{path}/dist/sysmanage/user/js/modifyUserInfo.js(path=${contextPath})}"></script>
</head>
<body>
	<div th:fragment="content">
		<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-user home-icon"></i>
						<a th:href="${#httpServletRequest.getContextPath()}+'/user/personalInfoSettings?operatorid='+${session.LOGIN_USER.userEntity.operatorid}"   th:text="#{pages.user.personalInfoSettings.title}"></a>
					</li>
				</ul>
		</div>
		<div class="page-content">
			<div class="page-content-area">
				<div class="row">
					<div class="col-xs-12">
						<form method="POST" id="modDataForm" class="form-horizontal">
							<div class="form-group">
								<div class="rowGroup">
						    		<div class="col-sm-10 col-md-offset-1">
										<input type="hidden" name="operatorid" th:value="${userEntity.operatorid}" />
										<span class="col-sm-4 control-label"> 
											<label th:text="#{pages.user.modifyUserInfo.input.username}" th:remove="tag"></label>
											<font style="color:#a94442">*</font>
										</span>
										<div class="col-sm-8">
											<input name="account" class="form-control" readonly="true"
												th:placeholder="#{pages.user.modifyUserInfo.input.username.tip}"
												th:value="${userEntity.account}" />
										</div>
									</div>
						    	</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
						    		<div class="col-sm-10 col-md-offset-1">
										<span class="col-sm-4 control-label">
											<label th:text="#{pages.user.modifyUserInfo.input.name}" th:remove="tag"></label>
											<font style="color:#a94442">*</font>
										</span>
										<div class="col-sm-8">
											<input name="name" type="text" class="form-control"
												th:placeholder="#{pages.user.modifyUserInfo.input.name.tip}"
												th:value="${userEntity.name}" />
										</div>
									</div>
						    	</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
						    		<div class="col-sm-10 col-md-offset-1">
										<span class="col-sm-4 control-label">
											<label th:text="#{pages.user.modifyUserInfo.input.position}" th:remove="tag"></label>
										</span>
										<div class="col-sm-8">
											<input type="text" name="position" class="form-control"
												th:placeholder="#{pages.user.modifyUserInfo.input.position.tip}"
												th:value="${userEntity.position}" />
										</div>
									</div>
						    	</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
						    		<div class="col-sm-10 col-md-offset-1">
										<span class="col-sm-4 control-label">
											<label th:text="#{pages.user.modifyUserInfo.input.mobile}" th:remove="tag"></label>
											<font style="color:#a94442">*</font>
										</span>
										<div class="col-sm-8">
											<input type="text" name="mobile" class="form-control"
												th:placeholder="#{pages.user.modifyUserInfo.input.mobile.tip}"
												th:value="${userEntity.mobile}" />
										</div>
									</div>
						    	</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
						    		<div class="col-sm-10 col-md-offset-1">
										<span class="col-sm-4 control-label"> 
											<label th:text="#{pages.user.modifyUserInfo.input.email}" th:remove="tag"></label>
											<font style="color:#a94442">*</font>
										</span>
										<div class="col-sm-8">
											<input type="text" name="email" class="form-control"
												th:placeholder="#{pages.user.modifyUserInfo.input.email.tip}"
												th:value="${userEntity.email}" />
										</div>
									</div>
						    	</div>
							</div>
							<div class="form-group">
						    	<div class="rowGroup">
						    		<div class="col-sm-10 col-md-offset-1">
							    		<span class="col-sm-4 control-label">
											<label th:text="#{pages.user.modifyUserInfo.input.sex}" th:remove="tag"></label>
											<font style="color:#a94442">*</font>
										</span>
										<div class="col-sm-8">
											<div class="form-control">
												<input name="sex" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" th:value="1" th:checked="${userEntity.sex=='1'}">
												<span class="lbl" data-lbl="女&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;男"></span>
											</div>
										</div>
									</div>
						    	</div>
						    </div>
							<div class="form-group text-center">
								<button  class="btn btn-white btn-primary"  type="submit">
									<i class="fa fa-check"></i> <span
										th:text="#{pages.user.modifyUserInfo.button.mod}"
										th:remove="tag"></span>
								</button>
							</div>
						</form>
        			</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>