<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/indexModel">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="#{pages.system.name}+'-'+#{pages.user.userManage.title}"></title>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/user/js/userManage.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/user/js/addUserInfo.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/user/js/modifyUserInfo.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/user/js/adminModifyPwd.js(path=${contextPath})}"></script>
      	<style type="text/css">
      		#datatable th{   
    			white-space: nowrap !important;  
			}  
      	</style>
    </head>
    <body>
        <div th:fragment="content">
        	<div class="x_panel ">
                 <div class="x_title ">
                    <h2><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;<label th:text="#{pages.user.userManage.title}" th:remove="tag"></label></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                 <div class="x_content">
                 	 <div class="row">
			            <form id="queryForm" method="post" class="form-horizontal">
		                    <div class="panel-group" id="steps">
		                        <div class="panel panel-primary">
		                            <div class="panel-heading">
		                                <h4 class="panel-title">
		                                	<i class="fa fa-search"></i><a data-toggle="collapse" data-parent="#steps" href="#stepOne" th:text="#{pages.user.userManage.form.title}"></a>
		                              	</h4>
		                            </div>
		                            <div id="stepOne" class="panel-collapse collapse in  ">
		                                <div class="panel-body">
		                                	<div class="col-md-3 ">
			                                	<div class="input-group">
			                                		<span class="input-group-addon"><a class="glyphicon glyphicon-user"></a></span>
							                        <input type="text" name="account" class="form-control" th:placeholder="#{pages.user.userManage.form.account.input.tip}"/>
			                                	</div>
				                      		</div>
											<div class="col-md-3">
			                                	<div class="input-group">
			                                		<span class="input-group-addon"><a class="glyphicon glyphicon-phone"></a></span>
							                        <input type="text" name="mobile" class="form-control" th:placeholder="#{pages.user.userManage.form.mobile.input.tip}"/>
			                                	</div>
						                    </div>
		                                	<div class="col-md-3">
			                                	<div class="input-group">
			                                		<span class="input-group-addon"><a class="glyphicon glyphicon-wrench"></a></span>
							                        <select name="operatorType" class="form-control">
					                                     <option value="" th:text="#{pages.user.userManage.form.operatortype.select.all}"></option>
					                                     <option value="1" th:text="#{pages.user.userManage.form.operatortype.select.admin}"></option>
					                                     <option value="2" th:text="#{pages.user.userManage.form.operatortype.select.common}"></option>
	                                    			</select>
			                                	</div>
						                    </div>
						                    <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
						                        <button id="btn-query" class="btn btn-primary" type="button">
						                        <i class="fa fa-search"></i>
			                 						<span th:text="#{pages.user.userManage.form.query.button.tip}" th:remove="tag"></span>
												</button> 
						                    </div>
						                    
		                                </div>
		                            </div>
		                        </div>
		                    </div>
                		</form>
    				</div>
    				<div class="row-fluid">
    					<div class="pull-right">
					        <div class="btn-group">
					            <button type="button" class="btn btn-primary btn-sm" id="btn-add">
					                <i class="fa fa-plus"></i>
					                <span th:text="#{pages.user.userManage.table.button.add}" th:remove="tag"></span>
					            </button>
					            <button type="button" class="btn btn-primary btn-sm" id="btn-delAll">
					                <i class="fa fa-remove"></i>
					                <span th:text="#{pages.user.userManage.table.button.batchdel}" th:remove="tag"></span>
					            </button>
					            <button id="btn_refresh" type="button" class="btn btn-primary btn-sm">
					                <i class="fa fa-refresh"></i>
					                <span th:text="#{pages.user.userManage.table.button.refresh}" th:remove="tag"></span>
					            </button>
					        </div>
    					</div>
    				</div>
                 	<div class="row" id="div-table-container">
                 		<table id="datatable" class="table jambo_table datatable-bordered" >
							<thead>
								<tr>
									<th>
										<input class="iCheck" type="checkbox" name="cb-check-all"/>
									</th>
									<th th:text="#{pages.user.userManage.table.title.operatorid}"></th>
									<th th:text="#{pages.user.userManage.table.title.account}"></th>
									<th th:text="#{pages.user.userManage.table.title.name}"></th>
									<th th:text="#{pages.user.userManage.table.title.sex}"></th>
									<th th:text="#{pages.user.userManage.table.title.position}"></th>
									<th th:text="#{pages.user.userManage.table.title.mobile}"></th>
									<th th:text="#{pages.user.userManage.table.title.email}"></th>
									<th th:text="#{pages.user.userManage.table.title.operatortype}"></th>
									<th th:text="#{pages.user.userManage.table.title.createtime}"></th>
									<th th:text="#{pages.user.userManage.table.title.updatetime}"></th>
									<th th:text="#{pages.user.userManage.table.title.operator}"></th>
								</tr>
							</thead>
						</table>
                 	</div>
        		</div>
            </div>
          	<div class="clearfix"></div>
          	<div id="addUser">
				<div th:replace="sysmanage/user/addUserInfoModal:: content"></div>
			</div>
			<div id="modUser">
				<div th:replace="sysmanage/user/modUserInfoModal:: content"></div>
			</div>
			<div id="modPwd">
				<div th:replace="sysmanage/user/modPwdModal:: content"></div>
			</div>
        </div>
    </body>
</html>