sysmanage/<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/errorModel">
<head>
    <title th:text="#{pages.system.name}+'-'+#{pages.error.errorModel.404.title}"></title>
    <meta charset="utf-8"/>
</head>
<body>
<div th:fragment="content">
    <div class="row login-box">
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <div class="container-fluid" style="">
                <div class="text-center" style="font-size:200px; color:#a72d2d"><i class="fa fa-trash-o"></i>
                    <p style="font-size:30px;" th:text="#{pages.error.errorModel.404.error}"></p>
                </div>
                <div class="text-center" style="padding-top:40px; color:#a72d2d">
                    <p>
                    	<a th:href="${#httpServletRequest.getContextPath()}+'/login'" class="btn btn-lg btn-info" th:text="#{pages.error.errorModel.404.a.home}"><i class="fa fa-home"></i></a>
                    	<a href="javascript:history.back(-1);" class="btn btn-lg btn-warning" th:text="#{pages.error.errorModel.404.a.back}"><i class="fa fa-level-up"></i> </a>
                	</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>