<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/indexModel">

    <head>
        <title th:text="#{pages.system.name}+'-'+#{pages.index.main_left.title}"></title>
    </head>
    <body>
	    <div th:fragment="content" th:remove="tag">
	    	<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							
						</span>
					</div>
			</div>
		</div>
    </body>
</html>