<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{pages.system.name}+'-'+#{pages.right.addRight.title}"></title>
</head>
<body>
	<div th:fragment="content">
		<form method="POST" id="addRightDataForm" class="form-horizontal">
			<div id="addRightModal" class="modal fade" tabindex="-1">
				<div class="modal-dialog modal-sm" style="width:560px;">
					<div class="modal-content">
						<div class="modal-header no-padding">
							<div class="table-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									<span class="white">&times;</span>
								</button>
								<i class="fa fa-users"></i>&nbsp;&nbsp;
								<label th:text="#{pages.right.addRight.title}" th:remove="tag"></label>
							</div>
						</div>
						<div class="modal-body no-padding">
							<div class="modal-body">
								<div id="buttonTreeView"></div>
							</div>
						</div>
						<div class="modal-footer no-margin-top">
							<button id="addRightButton" class="btn btn-white">
								<i class="fa fa-check"></i> 
								<span th:text="#{pages.role.addroleInfo.button.add}" th:remove="tag"></span>
							</button>
							<button type="button" class="btn btn-white btn-primary" data-dismiss="modal">
								<i class="fa fa-close"></i> 
								<span th:text="#{pages.role.addroleInfo.button.shut}" th:remove="tag"></span>
							</button> 
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>