<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script type="text/javascript" th:src="@{{path}/dist/sysmanage/reagent/js/addReagentMixture.js(path=${contextPath})}"></script>
</head>
<body>
	<div th:fragment="content">
		 <div th:fragment="content">
        	<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="javascript:void(0)"  class="homemenu" ></a>
				</li>
				<li>
					<a href="javascript:void(0)" class="submenumenu"></a>
				</li>
				<li>
					<a href="javascript:void(0)" th:onclick="'javascript:LoadPage(\''+${#httpServletRequest.getContextPath()}+'/reagent/addReagentMixture\');'" th:text="#{pages.reagent.addReagentMixture.title}"></a>
				</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="page-content-area">
				<div class="row">
					<div class="col-xs-12">
						<form method="POST" id="addDataForm" class="form-horizontal">
							<div class="form-group"  style="display: none;">
							<div class="col-md-6" style="margin-bottom:20px" id="template">
                    				<div class="rowGroup">
	                    				<span class="col-md-3 control-label reagentPanel">
										</span>
										<div class="col-md-8">
											<input type='text' class="form-control" />
										</div>
										<span class="col-md-1 removeButton btn btn-sm btn-danger">
											 <i class="glyphicon glyphicon-remove"></i>
								         </span>
							         </div>
								 </div>
                			</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.configTime}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="configTime" id='addFormConfigTime' class="form-control form_datetime"/>
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.mainReagent}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<select name="mainReagent" class="form-control">
							              <option  th:each="dataConfig:${mrDataConfigs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select>
									</div>
								</div>
							</div>
						    <div class="form-group">
						    	<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.rev}" th:remove="tag"></label>
										
									</span>
									<div class="col-md-4">
										<input name="rev" class="form-control input-group-sm"/>
									</div>
						    	</div>
						    	<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.lotNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input name="lotNum" class="form-control input-group-sm"/>
									</div>
						    	</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.woNum}" th:remove="tag"></label>
									
									</span>
									<div class="col-md-4 ">
										<input name="woNum" class="form-control input-group-sm"/>
									</div>
						    	</div>
						    	<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.amount}" th:remove="tag"></label>
									
									</span>
									<div class="col-md-4">
										<input name="amount" class="form-control"/>
									</div>
						    	</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.subReagent}" th:remove="tag"></label>
									</span>
									<div class="col-md-3">
										<select id="subReagent" name="subReagent" class="form-control">
							              <option  th:each="dataConfig:${subDataConfigs}" th:text="${dataConfig.configName}" th:value="${tableName}+${dataConfig.dataid}">
							              </option>
	                                	</select>
									</div>
									<span class="btn btn-white btn-info" id="addSubReagentButton">  
		                     			<label th:text="#{pages.reagent.addReagentMixture.form.subReagent.button.add}" th:remove="tag"></label>
		                     		</span>
						    	</div>
						    	<div class="rowGroup">
						    		
						    	</div>
							</div>
							<div class="form-group">
								<div class="col-md-11 col-md-offset-1" style="margin-top:0px;padding-top:0px;">
									<fieldset>
    								<legend style="margin-top:0px;padding-top:0px;">
    									<label class="blue" th:text="#{pages.reagent.addReagentMixture.form.subReagent}"></label>
    								</legend>
									<div id="subReagentPanel">
									</div>
  									</fieldset>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.phValue}" th:remove="tag"></label>
									</span>
									<div class="col-md-4">
										<input name="phValue" class="form-control input-group-sm" />
									</div>
						    	</div>
						    	<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.concentration}" th:remove="tag"></label>
									
									</span>
									<div class="col-md-4">
										<input name="concentration" class="form-control input-group-sm" />
									</div>
						    	</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.temperatureUpStarttime}" th:remove="tag"></label>
										
									</span>
									<div class="col-md-4">
										<input type='text' name="temperatureUpStarttime" id='addFormTemperatureUpStarttime' class="form-control form_datetime"/>
									</div>
						    	</div>
						    	<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.temperatureUpEndtime}" th:remove="tag"></label>
									</span>
									<div class="col-md-4">
										<input type='text' name="temperatureUpEndtime" id='addFormTemperatureUpEndtime' class="form-control form_datetime"/>
									</div>
						    	</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.reagentTemperature}" th:remove="tag"></label>
									</span>
									<div class="col-md-4">
										<input name="reagentTemperature" class="form-control input-group-sm" />
									</div>
						    	</div>
						    	<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.configOperator}" th:remove="tag"></label>
										
									</span>
									<div class="col-md-4">
										<input name="configOperator" class="form-control input-group-sm" />
									</div>
						    	</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.reserver1}" th:remove="tag"></label>
									</span>
									<div class="col-md-4">
										<input name="reserver1" class="form-control input-group-sm" />
									</div>
						    	</div>
						    	<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.reserver2}" th:remove="tag"></label>
									</span>
									<div class="col-md-4">
										<input name="reserver2" class="form-control input-group-sm" />
									</div>
						    	</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
						    		<span class="col-md-2 control-label">
										<label th:text="#{pages.reagent.addReagentMixture.form.reserver3}" th:remove="tag"></label>
									</span>
									<div class="col-md-4">
										<input name="reserver3" class="form-control input-group-sm" />
									</div>
						    	</div>
						    	<div class="rowGroup">
						    		
						    	</div>
							</div>
							<div class="form-group">
								<div class="text-center">
									<button id="addButton" class="btn btn-white btn-primary" type="submit">
										<i class="fa fa-check"></i> <span th:text="#{pages.reagent.addReagentMixture.form.button.add}" th:remove="tag"></span>
									</button>
									<button id="addBackButton" type="button" class="btn btn-white btn-primary" data-dismiss="modal">
										<i class="fa fa-close"></i> <span th:text="#{pages.reagent.addReagentMixture.form.button.shut}" th:remove="tag"></span>
									</button> 
								</div>
							</div>
						</form>
                	</div>
                </div>
               </div>
            </div>
        </div>
		<div class="clearfix"></div>
		
	</div>
</body>
</html>