<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{pages.system.name}+'-'+#{pages.setting.preprocessingSetting.modPreprocessingSetting.title}"></title>
<script type="text/javascript" th:src="@{{path}/dist/setting/preprocessing/js/modPreprocessingSetting.js(path=${contextPath})}"></script>
<script type="text/javascript" th:src="@{{path}/dist/setting/preprocessing/js/preprocessingAssembleDatatables.js(path=${contextPath})}"></script>
<script type="text/javascript" th:src="@{{path}/dist/setting/preprocessing/js/preprocessingInspectDatatables.js(path=${contextPath})}"></script>
</head>
<body>
	<div th:fragment="content">
		 <div th:fragment="content">
        	<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="javascript:void(0)"  class="homemenu" ></a>
				</li>
				<li>
					<a href="javascript:void(0)" class="submenumenu"></a>
				</li>
				<li>
					<a href="javascript:void(0)" th:onclick="'javascript:LoadPage(\''+${#httpServletRequest.getContextPath()}+'/setting/modPreprocessingSetting?psid='+${preprocessingSettingEntity.psid}+'&operator=copy\');'" th:text="#{pages.setting.preprocessingSetting.addPreprocessingSetting.title}"></a>
				</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="page-content-area">
				<div class="row">
					<div class="col-xs-12">
						<form method="POST" id="modDataForm" class="form-horizontal">
							<div class="form-group">
								<div class="rowGroup">
									<span class=" col-md-2 control-label">
										<label th:text="#{pages.setting.preprocessingSetting.modPreprocessingSetting.form.preprocessingPn}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input id="operator" name="operator" type="hidden" th:value="${operator}"/>
										<input type='text' name="preprocessingPn" class="form-control" th:value="${preprocessingSettingEntity.preprocessingPn}"/>  
									</div>
								</div>
								<div class="rowGroup">
									
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<div class="col-md-10 col-md-offset-1">
										<div class="row">
											<div class="col-md-12">
												<div class="pull-left text-info">
													
														<label th:text="#{pages.setting.preprocessingSetting.modPreprocessingSetting.form.preprocessingSettingAssembles}" th:remove="tag"></label>
													
												</div>
												<div class="pull-right">
											        <div class="btn-group">
											            <a type="button" class="btn btn-white btn-primary btn-sm" id="addPreprocessingSettingAssembles">
											                <i class="fa fa-plus"></i>
											                <span th:text="#{pages.setting.preprocessingSetting.modPreprocessingSetting.addPreprocessingSettingAssembles.button}" th:remove="tag"></span>
											            </a>
											        </div>
					    						</div>
										 	</div>
										</div>
										<div class="row" id="div-table-container">
											<input type="hidden" id="preprocessingSettingAssembles" th:value="${preprocessingSettingAssembles}"/>
											<table id="preprocessingSettingAssemblesDatatable" class="table table-striped table-bordered table-hover" >
												<!--  thead>
													<tr>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.preprocessing.assemble.componentName}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.preprocessing.assemble.componentNo}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.preprocessing.assemble.serialNoRecord}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.preprocessing.assemble.remarks}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.preprocessing.assemble.operator}">
															
														</th>
													</tr>
												</thead-->
												<!--  tbody>
													<tr th:each="preprocessingSettingAssemble,iterStat:${preprocessingSettingEntity.preprocessingSettingAssembles}">
					                          			<td>
						                          			<input type='text' class='form-control' th:name='componentName_+${iterStat.index}' th:value='${preprocessingSettingAssemble.componentName}'></input>
						                          			<input type='hidden' name='assembleid'  th:value='o_+${iterStat.index}'></input>
					                          			</td>
					                          			<td>
					                          				<input type='text' class='form-control' th:name='componentNo_+${iterStat.index}' th:value='${preprocessingSettingAssemble.componentNo}'></input>
					                          			</td>
					                          			<td>
					                          				<input type='text' class='form-control' th:name='serialNoRecord_+${iterStat.index}' th:value='${preprocessingSettingAssemble.serialNoRecord}'></input>
					                          			</td>
					                          			<td>
					                          				<input type='text' class='form-control' th:name='remarks_+${iterStat.index}' th:value='${preprocessingSettingAssemble.remarks}'></input>
					                          			</td>
					                          			<td>
					                          				<div class='btn-group'>
					                          					<button id='delPreprocessingSettingAssembles' class='btn btn-white btn-primary ' type='button'>
					                          						<i class='fa fa-trash-o'></i>
					                          					</button>
					                          				</div>
					                          			</td>
					                          		</tr>
												</tbody-->
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group" style="display:none">
								<div class="rowGroup">
									<div class="col-md-10 col-md-offset-1">
										<div class="row">
											<div class="col-md-12">
												<div class="pull-left text-info">
													
														<label th:text="#{pages.setting.preprocessingSetting.modPreprocessingSetting.form.preprocessingSettingInspects}" th:remove="tag"></label>
													
												</div>
												<div class="pull-right">
											        <div class="btn-group">
											            <a type="button" class="btn btn-white btn-primary btn-sm" id="addPreprocessingSettingInspects">
											                <i class="fa fa-plus"></i>
											                <span th:text="#{pages.setting.preprocessingSetting.modPreprocessingSetting.addPreprocessingSettingInspects.button}" th:remove="tag"></span>
											            </a>
											        </div>
					    						</div>
										 	</div>
										</div>
										<div class="row" id="div-table-container">
											<input type="hidden" id="preprocessingSettingInspects" th:value="${preprocessingSettingInspects}"/>
											<table id="preprocessingSettingInspectsDatatable" class="table table-striped table-bordered table-hover" >
												<!--  thead>
													<tr>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.preprocessing.inspect.selfcheckName}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.preprocessing.inspect.selfcheckContent}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.preprocessing.inspect.selfcheckResult}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.preprocessing.inspect.remarks}">
															
														</th>
														<th class="center" style="color:#307ecc" th:text="#{pages.trackinglist.preprocessing.inspect.operator}">
															
														</th>
													</tr>
												</thead-->
												<!--tbody>
													<tr th:each="preprocessingSettingInspect,iterStat:${preprocessingSettingEntity.preprocessingSettingInspects}">
					                          			<td>
						                          			<input type='text' class='form-control' th:name='selfcheckName_+${iterStat.index}' th:value='${preprocessingSettingInspect.selfcheckName}'></input>
						                          			<input type='hidden' name='inspectid'  th:value='o_+${iterStat.index}'></input>
					                          			</td>
					                          			<td>
					                          				<input type='text' class='form-control' th:name='selfcheckContent_+${iterStat.index}' th:value='${preprocessingSettingInspect.selfcheckContent}'></input>
					                          			</td>
					                          			<td>
					                          				<input type='text' class='form-control' th:name='selfcheckResult_+${iterStat.index}' th:value='${preprocessingSettingInspect.selfcheckResult}'></input>
					                          			</td>
					                          			<td>
					                          				<input type='text' class='form-control' th:name='remarks_+${iterStat.index}' th:value='${preprocessingSettingInspect.remarks}'></input>
					                          			</td>
					                          			<td>
					                          				<div class='btn-group'>
					                          					<button id='delPreprocessingSettingInspects' class='btn btn-white btn-primary ' type='button'>
					                          						<i class='fa fa-trash-o'></i>
					                          					</button>
					                          				</div>
					                          			</td>
					                          		</tr>
												</tbody-->
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="text-center">
									<button class="btn btn-white btn-primary">
										<i class="fa fa-check"></i> 
										<span th:text="#{pages.setting.preprocessingSetting.modPreprocessingSetting.form.button.mod}" th:remove="tag"></span>
									</button>
									<button id="addBackButton"  type="button" class="btn btn-white btn-primary" data-dismiss="modal">
										<i class="fa fa-close"></i> 
										<span th:text="#{pages.setting.preprocessingSetting.modPreprocessingSetting.form.button.shut}" th:remove="tag"></span>
									</button> 
								</div>
							</div>
						</form>
                	</div>
                </div>
               </div>
            </div>
        </div>
		<div class="clearfix"></div>
	</div>
</body>
</html>