<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/indexModel">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="#{pages.system.name}+'-'+#{pages.reagent.reagentMixtureManage.title}"></title>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/reagent/js/reagentMixtureManage.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/reagent/js/reagentMixtureDetail.js(path=${contextPath})}"></script>
    </head>
    <body>
        <div th:fragment="content">
        	<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="javascript:void(0)"  class="homemenu" ></a>
					</li>
					<li>
						<a href="javascript:void(0)" class="submenumenu"></a>
					</li>
				</ul>
			</div>
			<div class="page-content">
				<div class="page-content-area">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<form id="queryForm" method="post" class="form-horizontal">
				                    <div class="panel-group" id="steps">
				                        <div class="panel panel-primary">
				                            <div class="panel-heading">
				                                <h4 class="panel-title">
				                                	<i class="fa fa-search"></i>&nbsp;&nbsp;<a data-toggle="collapse" data-parent="#steps" href="#stepOne" th:text="#{pages.reagent.reagentMixtureManage.form.title}"></a>
				                              	</h4>
				                            </div>
				                            <div id="stepOne" class="panel-collapse collapse in  ">
				                                <div class="panel-body">
				                                   <div class="col-md-4 form-group">
					                                	<div class='input-group date'>  
					                                		<span class="input-group-addon" th:text="#{pages.reagent.reagentMixtureManage.form.startConfigTime}">  
		                									</span>  
											                <input type='text' name="startConfigTime"  id='queryStartConfigTime' class="form-control" />  
											                <span class="input-group-addon">  
											                    <span class="glyphicon glyphicon-calendar"></span>  
											                </span>  
		            									</div> 
						                      		</div>
								                    <div class="col-md-4 form-group" style="padding-left:60px">
					                                	<div class='input-group date'>  
					                                		<span class="input-group-addon" th:text="#{pages.reagent.reagentMixtureManage.form.endConfigTime}" >  
		                									</span>  
											                <input type='text' name="endConfigTime"  id='queryEndConfigTime' class="form-control" />  
											                <span class="input-group-addon">  
											                    <span class="glyphicon glyphicon-calendar"></span>  
											                </span>  
		            									</div> 
						                      		</div>
								                   <div class="col-md-4 form-group" style="padding-left:60px">
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.reagent.reagentMixtureManage.form.mainReagent}"></span>
									                        <select name="mainReagent" class="form-control">
									                        	<option value="" th:text="#{pages.reagent.reagentMixtureManage.form.select.all}"></option>
									                        	<option  th:each="dataConfig:${mrDataConfigs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
									                        	</option>
			                                    			</select>
					                                	</div>
								                    </div>
								                     <div class="col-md-4 form-group" style="padding-left:60px">
					                                	
								                    </div>
								                    <div class="col-md-4 form-group" style="padding-left:160px">
								                        <button id="btn-query" class="btn btn-white btn-primary" type="button">
								                        <i class="fa fa-search"></i>
					                 						<span th:text="#{pages.reagent.reagentMixtureManage.form.query.button.tip}" th:remove="tag"></span>
														</button> 
								                    </div>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
		                		</form>
	                		</div>
	                		<div class="row">
	                			<div class="pull-right">
							        <div class="btn-group">
							            <a type="button" class="btn btn-white btn-primary btn-sm" id="btn-add">
							                <i class="fa fa-plus"></i>
							                <span th:text="#{pages.reagent.reagentMixtureManage.table.button.add}" th:remove="tag"></span>
							            </a>
							            <a type="button" class="btn btn-white btn-primary btn-sm" id="btn-delAll">
							                <i class="fa fa-remove"></i>
							                <span th:text="#{pages.reagent.reagentMixtureManage.table.button.batchdel}" th:remove="tag"></span>
							            </a>
							            <a id="btn_refresh" type="button" class="btn btn-white btn-primary btn-sm">
							                <i class="fa fa-refresh"></i>
							                <span th:text="#{pages.reagent.reagentMixtureManage.table.button.refresh}" th:remove="tag"></span>
							            </a>
							        </div>
		    					</div>
	                		</div>
	                		
		                 	<div class="row" id="div-table-container">
		                 		<div class="table-responsive" style="overflow-x:hidden">
		                 			<input id="tableFieldBinds" name="tableFieldBinds" type="hidden" th:value="${tableFieldBinds}"/>
			                 		<table id="datatable" class="table table-striped table-bordered table-hover" >
										<thead>
											<tr  th:each="headLines,iterStat:${tableHeaderConfigs}">
												<th th:each="headLineConfigEntity:${headLines.value}" th:colspan="${headLineConfigEntity.cols}" th:rowspan="${headLineConfigEntity.rows}" class="center" style="color:#307ecc">
													<span th:if="${headLineConfigEntity.lineNum==1 and headLineConfigEntity.colNum==1}"  th:remove="tag">
														<input class="ace" type="checkbox" name="cb-check-all"/>
														<span class="lbl"></span>
													</span>
													<span th:unless="${headLineConfigEntity.lineNum==1 and headLineConfigEntity.colNum==1}" th:text="${headLineConfigEntity.headline}" th:remove="tag">
														
													</span>
												</th>
											</tr>
										</thead>
									</table>
								</div>
		                 	</div>
	        			</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div id="reagentMixtureDetail">
				<div th:replace="sysmanage/reagent/reagentMixtureDetailModal:: content"></div>
			</div>
		</div>
   </body>
</html>