<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{pages.system.name}+'-'+#{pages.error.errorModel.title}"></title>
    <meta charset="utf-8"/>
    <!--  link rel="icon" type="image/x-icon" th:href="@{{path}/dist/common/images/favicon.png(path=${contextPath})}"/-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link type="text/css" rel="stylesheet" th:href="@{{path}/vendors/bootstrap/css/bootstrap.min.css(path=${contextPath})}"/>
    <link rel="stylesheet" th:href="@{{path}/vendors/font-awesome/css/font-awesome.min.css(path=${contextPath})}" />
    <script type="text/javascript" th:src="@{{path}/vendors/jquery/jquery-1.12.3.min.js(path=${contextPath})}"></script>
    <script type="text/javascript" th:src="@{{path}/vendors/bootstrap/js/bootstrap.min.js(path=${contextPath})}"></script>
	<script type="text/javascript" th:src="@{{path}/dist/common/js/public.js(path=${contextPath})}"></script>
</head>
<body>
    <div th:include="this :: content"></div>
</body>
</html>