<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/indexModel">
<head>
	<title th:text="#{pages.system.name}+'-'+#{pages.index.title}"></title>
</head>
<body>
	<div th:fragment="content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a th:href="${#httpServletRequest.getContextPath()}+'/index'" th:text="#{pages.index.title}"></a>
				</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="page-content-area">
				<div class="row">
					<div class="col-xs-12">
						 <img alt="" class="wokflow" th:src="@{{path}/dist/main/images/wokflow_bg.jpg(path=${contextPath})}" />
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>