<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{pages.system.name}+'-'+#{pages.workflow.assembly.addAssembly.title}"></title>
<script type="text/javascript" th:src="@{{path}/dist/workflow/assembly/js/modifyAssemblyInfo.js(path=${contextPath})}"></script>
<script type="text/javascript" th:src="@{{path}/dist/workflow/assembly/js/selectPlatedFilm.js(path=${contextPath})}"></script>
</head>
<body>
	<div th:fragment="content">
		<div th:fragment="content">
        	<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="javascript:void(0)"  class="homemenu" ></a>
				</li>
				<li>
					<a href="javascript:void(0)" class="submenumenu"></a>
				</li>
				<li>
					<a href="javascript:void(0)" th:onclick="'javascript:LoadPage(\''+${#httpServletRequest.getContextPath()}+'/workflow/modAssembly?assemblyID='+${assemblyEntity.assemblyID}+'&operator=copy\');'" th:text="#{pages.workflow.assembly.addAssembly.title}"></a>
				</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="page-content-area">
				<div class="row">
					<div class="col-xs-12">
						<form method="POST" id="modDataForm" class="form-horizontal">
							<input id="operator" name="operator" type="hidden" th:value="${operator}"/>
							<input type='hidden' id="updateForm" name="updateForm" value="#modDataForm" />
							<div class="form-group"  style="display: none;">
                    			<div class="col-md-4" style="margin-bottom:20px" id="modTemplate">
                    				<div class="rowGroup">
	                    				<span class="col-md-3 control-label defect">
										</span>
										<div class="col-md-6">
											<input type='text' class="form-control" />
										</div>
										<span class="col-md-2 removeButton btn btn-sm btn-danger">
											 <i class="glyphicon glyphicon-remove"></i>
								         </span>
							         </div>
								 </div>
                			</div>
                			<div class="form-group">
								<div style="color:red;padding-left:80px" th:text="#{pages.workflow.assembly.form.desc}">
								</div>
							</div>
                			<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.deliveryType}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<select id="deliveryType" name="deliveryType" class="form-control">
							              	<option   value="1">单装</option>
							              	<option   value="2">拼装</option>
	                                	</select>
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.fixtureType}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<select name="fixtureAttribute" class="form-control" disabled="disabled">
								              <option  th:each="dataConfig:${fixtureAttrDataConfigs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
								              </option>
		                                </select>  
									</div>
								</div>
							</div>
                			<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.deliveryTime}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="deliveryTime" id='modFormDeliveryTime' class="form-control form_datetime" th:value="${assemblyEntity.deliveryTime}"/>
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.trayLotNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="trayLotNum"  class="form-control" th:value="${assemblyEntity.trayLotNum}"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.inputLotNum}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-3">
										<input type='text' name="inputLotNum" class="form-control" readonly="readonly" th:value="${assemblyEntity.inputLotNum}"/>
									</div>
	                      			<div class="col-md-1">
										<a class=" btn btn-white btn-info" id="addInputLotNum">  
		                     				<label th:text="#{pages.workflow.assembly.addAssembly.button.defect.add}" th:remove="tag"></label>
		                     			</a> 
									</div>
								</div>
								<div class="rowGroup" style="display:none">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.inputQty}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text'  name="inputQty"  class="form-control" th:value="${assemblyEntity.inputQty}"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.fixtureNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text'  name="fixtureNum"  class="form-control" readonly="readonly" th:value="${assemblyEntity.fixtureNum}"/>
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.hubLotNum}" th:remove="tag"></label> 
									</span>
									<div class="col-md-4">
										<input type='text' name="hubLotNum" class="form-control" th:value="${assemblyEntity.hubLotNum}"/> 
									</div>
								</div>
							</div>
							
							<div class="form-group" style="margin-bottom:0px;padding-bottom:0px;">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.defectinfo}" th:remove="tag"></label> 
									</span>
									<div class="col-md-10">
										<div class='col-sm-10'> 
											<div class="col-md-5 form-group " style="padding-left:0px;">
						                        <select name="workingfaceType" id="modWorkingfaceType" class="form-control">
								                   <option  th:each="workingfaceType:${workingfaceTypes}" th:text="${workingfaceType.dataTypeName}" th:value="${workingfaceType.dataType}">
								                   </option>
		                                    	</select> 
	                      					</div>
											<div class="col-md-5  form-group" style="padding-left:20px;">
						                        <select id="modDefect" name="modDefect" class="form-control">
								                   <option  th:each="assemblyDefectConfig:${workingfaceDefectConfigs}" th:text="${assemblyDefectConfig.configName}" th:value="${tableName}+${assemblyDefectConfig.dataid}">
								                   </option>
		                                    	</select>
	                      					</div>
										   	<select id="modAllDefect" style="display:none">
							                   <option  th:each="assemblyDefectConfig:${defectConfigs}" th:text="${assemblyDefectConfig.configName}" th:attr="dataType=${assemblyDefectConfig.dataType}" dataType="$dataType" th:value="${tableName}+${assemblyDefectConfig.dataid}">
							                   </option>
	                                    	</select>
		                                    <div class="col-md-1 form-group has-feedback" style="padding-left:20px;">
						                        <span class="btn btn-white btn-info" id="modDefectButton">  
		                     						<label th:text="#{pages.workflow.assembly.modAssembly.button.fefect.add}" th:remove="tag"></label>
		                     					</span>
	                      					</div>
            							</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-10 col-md-offset-1" id="modDefectPanel" role="tablist" aria-multiselectable="true" style="margin-top:10px;padding-left:0px;">
				                      <div class="panel defect-panel" th:each="workingfaceType:${workingfaceTypes}" th:id="modWorkingface+${workingfaceType.dataType}" >
				                        <div class="panel-heading collapsed defect-panel-heading" style="cursor: pointer;"  role="tab" th:id="modHead+${workingfaceType.dataType}" data-toggle="collapse"  th:href="'#modCollapse'+${workingfaceType.dataType}" aria-expanded="true" 
				                         th:attr="aria-controls='modCollapse'+${workingfaceType.dataType}"  aria-controls="$aria-controls">
				                          <h4 class="panel-title" th:text="${workingfaceType.dataTypeName}"></h4>
				                        </div>
				                        <div  th:id="modCollapse+${workingfaceType.dataType}" class="panel-collapse collapse in" role="tabpanel" 
				                        th:attr="aria-labelledby='modHead'+${workingfaceType.dataType}"  aria-labelledby="$aria-labelledby" aria-expanded="true">
				                          <div class="panel-body">
				                            <div th:each="defect:${assemblyEntity.defects}" th:remove="tag">
				                          			<div class="col-md-4" style="margin-bottom:20px" th:if="${defect.defectType}==${workingfaceType.dataType}">
					                    				<div class="rowGroup">
						                    				<span class="col-md-3 control-label defect" th:text="${defect.defectName}">
															</span>
															<div class="col-md-6">
																<input type='text' class="form-control" th:attr='name=${tableName}+${defect.dataid}'  th:value="${defect.defectValue}"/>
															</div>
															<span class="col-md-2 removeButton btn btn-sm btn-danger">
																 <i class="glyphicon glyphicon-remove"></i>
													         </span>
												         </div>
									 				</div>
				                          		</div>
				                          </div>
				                        </div>
				                      </div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.outputLotNum}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="outputLotNum" class="form-control" th:value="${assemblyEntity.outputLotNum}"/>  
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.outputQty}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="outputQty" class="form-control" th:value="${assemblyEntity.outputQty}"/>  
									</div>
								</div>
								
							</div>
							<div class="form-group" style="display:none">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.scrapQty}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="scrapQty" class="form-control" th:value="${assemblyEntity.scrapQty}"/>  
									</div>
								</div>
								<div class="rowGroup">
									
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.workOrderNum}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<input type='text' name="workOrderNum" class="form-control" th:value="${assemblyEntity.workOrderNum}"/>  
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.partNum}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<select name="partNum" class="form-control">
							              <option  th:each="dataConfig:${pnDataConfigs}" th:selected="${assemblyEntity.partNum==dataConfig.configName}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select>    
									</div>
								</div>
								
							</div>
							
							<div class="form-group">
								<div class="rowGroup">
									<span class="col-md-2  control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.clampDownTheCP}" th:remove="tag"></label> 
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<select name="clampDownTheCP" class="form-control">
							              <option  th:each="dataConfig:${clampDownTheCPDataConfigs}" th:selected="${assemblyEntity.clampDownTheCP==dataConfig.configName}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select>    
									</div>
								</div>
								<div class="rowGroup">
									<span class="col-md-2 control-label">
										<label th:text="#{pages.workflow.assembly.modAssembly.form.clampingCP}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-md-4">
										<select name="clampingCP" class="form-control">
							              <option  th:each="dataConfig:${clampingCPDataConfigs}" th:selected="${assemblyEntity.clampingCP==dataConfig.configName}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
							              </option>
	                                	</select> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="rowGroup">
									<div class="col-md-11 col-md-offset-1">
										<fieldset>
	    								<legend>
	    									<label class="blue control-label" th:text="#{pages.workflow.assembly.modAssembly.form.assemblyBoms}"></label>
	    								</legend>
											<div class="col-md-3 checkbox" style="padding-bottom:10px" th:each="dataConfig,iterStat:${assemblyBomsDataConfigs}">
												<label>
													<input name="assemblyBoms" class="ace" type="checkbox" th:checked="${dataConfig.checked==true}" th:value="${dataConfig.configName}">
													<span class="lbl">&nbsp;&nbsp;<span th:text="${dataConfig.configName}" th:remove="tag"></span></span>
												</label>
											</div>
	  									</fieldset>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="text-center">
									<button class="btn btn-white btn-primary">
										<i class="fa fa-check"></i> 
										<span th:text="#{pages.workflow.assembly.addAssembly.form.button.add}" th:remove="tag"></span>
									</button>
									<button id="addBackButton"  type="button" class="btn btn-white btn-primary" data-dismiss="modal">
										<i class="fa fa-close"></i> 
										<span th:text="#{pages.workflow.assembly.addAssembly.form.button.shut}" th:remove="tag"></span>
									</button> 
								</div>
							</div>
						</form>
                	</div>
                </div>
               </div>
            </div>
        </div>
		<div class="clearfix"></div>
		<div id="selectPlatedFilm">
			<div th:replace="workflow/assembly/selectPlatedFilmModal:: content"></div>
		</div>
	</div>
</body>
</html>