<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="#{pages.system.name}+'-'+#{pages.workflow.opticalfilming.selOpticalfilming.title}"></title>
    </head>
    <body>
        <div th:fragment="content">
        	<div id="selectPlatedFilmModal" class="modal fade" tabindex="-1">
				<div class="modal-dialog" style="width:1000px;">
					<div class="modal-content">
						<div class="modal-header no-padding">
							<div class="table-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									<span class="white">&times;</span>
								</button>
								<i class="fa fa-search"></i>&nbsp;&nbsp;
								<label th:text="#{pages.workflow.opticalfilming.selOpticalfilming.title}" th:remove="tag"></label>
							</div>
						</div>
						<div class="modal-body" >
							<div class="col-xs-12">
								 <form id="queryForm" method="post" class="form-horizontal">
				                    <div class="panel-group" id="steps">
				                        <div class="panel panel-primary">
				                           
				                            <div id="stepOne" class="panel-collapse collapse in  ">
				                                <div class="panel-body">
				                                	<div class="col-md-4 form-group">
					                                	<div class='input-group date' >  
					                                		<span class="input-group-addon" th:text="#{pages.workflow.polish.form.startPolishTime}">  
		                									</span>  
		                									<input type="hidden" name="fixtureAttribute" class="form-control"/>
											                <input type='text' name="startPolishTime" id='queryStartPolishTime' class="form-control" />  
											                <span class="input-group-addon">  
											                    <span class="glyphicon glyphicon-calendar"></span>  
											                </span>  
		            									</div> 
						                      		</div>
						                      		<div class="col-md-4 form-group" style="padding-left:60px">
					                                	<div class='input-group date'>  
					                                		<span class="input-group-addon" th:text="#{pages.workflow.polish.form.pickingTime}">  
		                									</span>  
											                <input type='text' name="pickingTime"  id='queryPickingTime' class="form-control" />  
											                <span class="input-group-addon">  
											                    <span class="glyphicon glyphicon-calendar"></span>  
											                </span>  
		            									</div> 
						                      		</div>
						                      		<div class="col-md-4 form-group" style="padding-left:60px">
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.workflow.polish.form.inputLotNum}">Input LOT#</span>
									                        <input type="text" name="inputLotNum" class="form-control"/>
					                                	</div>
						                      		</div>
						                      		<div class="col-md-4 form-group">
					                                	<div class='input-group date' >  
					                                		<span class="input-group-addon" th:text="#{pages.workflow.polish.form.endPolishTime}">  
		                									</span>  
											                <input type='text' name="endPolishTime" id='queryEndPolishTime' class="form-control" />  
											                <span class="input-group-addon">  
											                    <span class="glyphicon glyphicon-calendar"></span>  
											                </span>  
		            									</div> 
						                      		</div>
				                                	<div class="col-md-4 form-group" style="padding-left:60px">
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.workflow.polish.form.polishLotNum}">Input LOT#</span>
									                        <input type="text" name=polishLotNum class="form-control"/>
					                                	</div>
						                      		</div>
													<div class="col-md-4 form-group" style="padding-left:60px">
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.workflow.polish.form.fixtureNumber}">Fixture#</span>
									                        <input type="text" name="fixtureNum" class="form-control"/>
					                                	</div>
								                    </div>
				                                	<div class="col-md-4 form-group">
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.workflow.polish.form.partNum}"></span>
									                        <select name="partNum" class="form-control">
									                        	<option value="" th:text="#{pages.workflow.polish.form.partNum.select.all}"></option>
									                        	<option  th:each="dataConfig:${pnDataConfigs}" th:text="${dataConfig.configName}" th:value="${dataConfig.configName}">
									                        	</option>
			                                    			</select>
					                                	</div>
								                    </div>
								                    <div class="col-md-4 form-group" style="padding-left:60px">
					                                	<div class="input-group">
					                                		<span class="input-group-addon" th:text="#{pages.workflow.polish.form.workOrderNum}">Work Order Number</span>
									                        <input type="text" name="workOrderNum" class="form-control" />
					                                	</div>
								                    </div>
								                    <div class="col-md-4" style="padding-left:50px">
								                        <button id="btn-query" class="btn btn-white btn-primary" type="button">
								                        <i class="fa fa-search"></i>
					                 						<span th:text="#{pages.workflow.polish.form.query.button.tip}" th:remove="tag"></span>
														</button> 
								                    </div>
								                    
				                                </div>
				                            </div>
				                        </div>
				                    </div>
		                		</form>
	                		</div>
							<div class="col-xs-12" id="div-table-container">
		                 		<div class="table-responsive"  >
		                 			<input id="tableFieldBinds" name="tableFieldBinds" type="hidden" th:value="${tableFieldBinds}"/>
			                 		<table id="datatable" class="table table-striped table-bordered table-hover no-margin-bottom no-border-top" >
									</table>
								</div>
		                 	</div>
						</div>
						<div class="modal-footer no-margin-top">
							<button id="selButton" class="btn btn-white btn-primary">
								<i class="fa fa-check"></i> 
								<span th:text="#{pages.workflow.opticalfilming.selOpticalfilming.form.button.sel}" th:remove="tag"></span>
							</button>
							<button type="button" class="btn btn-white btn-primary" data-dismiss="modal">
								<i class="fa fa-close"></i> 
								<span th:text="#{pages.workflow.opticalfilming.selOpticalfilming.form.button.shut}" th:remove="tag"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>