<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/indexModel">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="#{pages.system.name}+'-'+#{pages.sys.rightManage.title}"></title>
       <script type="text/javascript" th:src="@{{path}/vendors/bootstrap-table/js/bootstraptable-treeview.js(path=${contextPath})}"></script>
      	<!--  script type="text/javascript" th:src="@{{path}/dist/sysmanage/right/js/rightManage.js(path=${contextPath})}"></script-->
      	<!--script type="text/javascript" th:src="@{{path}/dist/sysmanage/right/js/addRight.js(path=${contextPath})}"></script-->
      	<!--script type="text/javascript" th:src="@{{path}/dist/sysmanage/right/js/modifyRight.js(path=${contextPath})}"></script-->
    	  <script type="text/javascript">

            $(document).ready(function() {
            	var data = [
                    {
                        id: '1',
                        name: "aa",
                        desc: "这是一个描述",
                        parentId:null,
                    },{
                        id: '11',
                        name: "aa_sub1",
                        desc: "这是一个描述_sub1",
                        parentId:'1',
                    },{
                        id: '111',
                        name: "aa_sub1_sub2",
                        desc: "这是一个描述_sub1_sub2" ,
                        parentId:'11',
                    },
                    {
                        id: '2',
                        name: "bb",
                        desc: "这是一个描述",
                        parentId:null,
                    },
                    {
                        id: '22',
                        name: "bb_sub1",
                        desc: "这是一个描述_sub1",
                        parentId:'2',
                    },{
                        id: '23',
                        name: "bb_sub2",
                        desc: "这是一个描述_sub2",
                        parentId:'2',
                    },{
                        id: '233',
                        name: "bb_sub2_sub2",
                        desc: "这是一个描述_sub2_sub2",
                        parentId:'23',
                    },{
                        id: '2333',
                        name: "bb_sub2_sub2_sub2",
                        desc: "这是一个描述_sub2_sub2_sub2",
                        parentId:'233',
                    },{
                        id: '23333',
                        name: "bb_sub2_sub2_sub23",
                        desc: "这是一个描述_sub2_sub2_sub2",
                        parentId:'233',
                    },{
                        id: '233333',
                        name: "bb_sub2_sub2_sub233",
                        desc: "这是一个描述_sub2_sub2_sub2",
                        parentId:'233',
                    },{
                        id: '24',
                        name: "bb_sub3",
                        desc: "这是一个描述_sub3",
                        parentId:'2',
                    },
                ]
                $('#tree_table').bootstrapTable({
                    class: 'table table-hover table-bordered',
                    //url:'data.json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    data: data,
                    sidePagination: 'server',
                    pagination: false,
                    treeView: true,
                    treeId: "id",
                    treeField: "name",
                    columns: [{
                        field: 'name',
                        title: '名称',
                    },
                    {
                        field: 'desc',
                        title: '详情',
                    },
                    ]
                });
                $("#expandAllTree").on('click',function(){
                    $('#tree_table').bootstrapTable("expandAllTree")
                })
                $("#collapseAllTree").on('click',function(){
                    $('#tree_table').bootstrapTable("collapseAllTree")
                })

            });
        </script>   
    </head>
    <body>
    	<div th:fragment="content">
        	<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="javascript:void(0)"  class="homemenu" ></a>
					</li>
					<li>
						<a href="javascript:void(0)" class="submenumenu"></a>
					</li>
				</ul>
			</div>
			<div class="page-content">
				<div class="page-content-area">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								 <form id="queryForm" method="post" class="form-horizontal">
				                    <div class="panel-group" id="steps">
				                        <div class="panel panel-primary">
				                            <div class="panel-heading">
				                                <h4 class="panel-title">
				                                	<i class="fa fa-search"></i><a data-toggle="collapse" data-parent="#steps" href="#stepOne" th:text="#{pages.sys.rightManage.form.title}"></a>
				                              	</h4>
				                            </div>
				                            <div id="stepOne" class="panel-collapse collapse in  ">
				                                <div class="panel-body">
				                                	<div class="col-md-4">
					                                	<div class="input-group">
					                                		<span class="input-group-addon"><label th:text="#{pages.sys.rightManage.form.rightType}" th:remove="tag"></label></span>
									                        <input type='text' name="rightType"   class="form-control" /> 
					                                	</div>
								                    </div>
								                    
								                    <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
								                        <button id="btn-query" class="btn btn-primary" type="button">
								                        <i class="fa fa-search"></i>
					                 						<span th:text="#{pages.sys.rightManage.form.query.button.tip}" th:remove="tag"></span>
														</button> 
								                    </div>
								                    
				                                </div>
				                            </div>
				                        </div>
		                    		</div>
		                		</form>
	                		</div>
	                		<div class="row">
	                			<div class="pull-right">
						        <div class="btn-group">
						            <a type="button" class="btn btn-primary btn-sm" id="btn-add">
						                <i class="fa fa-plus"></i>
						                <span th:text="#{pages.user.userManage.table.button.add}" th:remove="tag"></span>
						            </a>
						            <a type="button" class="btn btn-primary btn-sm" id="btn-delAll">
						                <i class="fa fa-remove"></i>
						                <span th:text="#{pages.user.userManage.table.button.batchdel}" th:remove="tag"></span>
						            </a>
						            <a id="btn_refresh" type="button" class="btn btn-primary btn-sm">
						                <i class="fa fa-refresh"></i>
						                <span th:text="#{pages.user.userManage.table.button.refresh}" th:remove="tag"></span>
						            </a>
						        </div>
	    					</div>
	                		</div>
	                		
		                 	<div class="row" id="div-table-container">
		                 		<div class="table-responsive" style="overflow-x:hidden">
			                 		  <table id="tree_table"></table>
								</div>
		                 	</div>
	        			</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div id="addRight">
				<div th:replace="sysmanage/right/addRightModal:: content"></div>
			</div>
			<div id="modRight">
				<div th:replace="sysmanage/right/modRightModal:: content"></div>
			</div>
		</div>
    </body>
</html>