<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/indexModel">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="#{pages.system.name}+'-'+#{pages.menu.menuManage.title}"></title>
        <script type="text/javascript" th:src="@{{path}/dist/sysmanage/menu/js/menuManage.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/menu/js/addMenu.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/menu/js/modifyMenu.js(path=${contextPath})}"></script>
      	<script type="text/javascript" th:src="@{{path}/dist/sysmanage/menu/js/treeMenu.js(path=${contextPath})}"></script>
    </head>
    <body>
        <div th:fragment="content">
        	<div class="dashboard_graph x_panel">
	        	<div class="row x_title">
	                <div class="col-md-6">
	                  <h3>
	                  	<i class="fa fa-bars"></i>&nbsp;&nbsp;&nbsp;&nbsp; 
	                  	<span th:text="#{pages.menu.menuManage.title}" th:remove="tag"></span>
	                  </h3>
	                </div>
	                <div class="col-md-6">
	                  	<ul class="nav navbar-right panel_toolbox">
							<li>
								<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li>
								<a class="close-link"><i class="fa fa-close"></i></a>
							</li>
						</ul>
	               </div>
	           </div>
	           <div class="x_content">
    				<div id="toolbar" class="btn-group pull-right">
    					<button id="btn-add" type="button" class="btn btn-primary" >
			                <i class="fa fa-plus"></i>
			                <span th:text="#{pages.menu.menuManage.table.button.add}" th:remove="tag"></span>
			            </button>
			            <!--  button type="button" class="btn btn-default" id="btn-delAll">
			                <i class="fa fa-remove"></i>
			                <span th:text="#{pages.menu.menuManage.table.button.batchdel}" th:remove="tag"></span>
			            </button >
			            <button id="btn_refresh" type="button" class="btn btn-default">
			                <i class="fa fa-refresh"></i>
			                <span th:text="#{pages.menu.menuManage.table.button.refresh}" th:remove="tag"></span>
			            </button-->
    				</div>
                 	<div class="row">
                 		<table id="tree" class="table jambo_table table-bordered" >
							<thead>
								<tr>
									<th>&nbsp;&nbsp;</th>
									<th>&nbsp;&nbsp;</th>
									<th th:text="#{pages.menu.menuManage.table.title.menuid}"></th>
									<th th:text="#{pages.menu.menuManage.table.title.menuName}"></th>
									<th th:text="#{pages.menu.menuManage.table.title.menuIcon}"></th>
									<th th:text="#{pages.menu.menuManage.table.title.menuURL}"></th>
									<th th:text="#{pages.menu.menuManage.table.title.leaf}"></th>
									<th th:text="#{pages.menu.menuManage.table.title.disabled}"></th>
									<th th:text="#{pages.menu.menuManage.table.title.sort}"></th>
									<th th:text="#{pages.menu.menuManage.table.title.description}"></th>
									<th th:text="#{pages.menu.menuManage.table.title.operator}"></th>
								</tr>
							</thead>
						</table>
                 	</div>
                 	<div id="addMenu">
						<div th:replace="sysmanage/menu/addMenuModal:: content"></div>
					</div>
					<div id="modMenu">
						<div th:replace="sysmanage/menu/modMenuModal:: content"></div>
					</div>
        		</div>
            </div>
          	<div class="clearfix"></div>
        </div>		
    </body>
</html>