<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{pages.system.name}+'-'+#{pages.menu.modMenu.title}"></title>
</head>
<body>
	<div th:fragment="content">
		<div id="modModal" class="modal fade" style="display: none;">
			<div class="modal-dialog" style="width:560px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title">
							<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;<label
								th:text="#{pages.menu.modMenu.title}" th:remove="tag"></label>
						</h4>
					</div>
					<form method="POST" id="modDataForm" class="form-horizontal ">
						<div class="modal-body" style="height: 400px;">
							<div class="form-group">
								<div class="col-sm-10 col-md-offset-1 from_components">
									<span class="col-sm-4 span">
										<label th:text="#{pages.menu.modMenu.form.pmenuName}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-sm-8 div">
										<input type="text" id="modPmenuName" name="pmenuName" class="form-control" data-bv-notempty th:attr='data-bv-notempty-message=#{menuManage.form.valid.menuInfoEntity.pmenuid.NotEmpty}' />
										<input type="hidden" id="modPmenuid" name="pmenuid" class="form-control" value=""/>
										<input type="hidden" name="menuid" class="form-control" value=""/>
										<input type="hidden" name="updateIndex" class="form-control" value=""/>
									</div>
								</div>
								<div class="col-sm-10 col-md-offset-1">
									<div class="pmenuName"></div>
								</div>
								<div class="col-sm-10 col-md-offset-1">
									<div id="treeview" ></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-md-offset-1 from_components">
									<input type="hidden" name="token" />
									<span class="col-sm-4 span">
										<label th:text="#{pages.menu.modMenu.form.menuName}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-sm-8 div">
										<input name="menuName" class="form-control" data-bv-notempty th:attr='data-bv-notempty-message=#{menuManage.form.valid.menuInfoEntity.menuName.NotEmpty}' />
									</div>
								</div>
								<div class="col-sm-10 col-md-offset-1">
									<div class="menuName"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-md-offset-1 from_components">
									<span class="col-sm-4 span" th:text="#{pages.menu.modMenu.form.menuIcon}">
									</span>
									<div class="col-sm-8 div">
										<input name="menuIcon" class="form-control" value=""/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-md-offset-1 from_components">
									<span class="col-sm-4 span" th:text="#{pages.menu.modMenu.form.menuUrl}">
									</span>
									<div class="col-sm-8 div">
										<input name="menuUrl" class="form-control" value=""/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-md-offset-1 from_components">
									<span class="col-sm-4 span"  >
										<label th:text="#{pages.menu.modMenu.form.leaf}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-sm-8 div">
										<div class="form-control">
											<label th:text="#{pages.menu.modMenu.form.leaf.swtich.false}" th:remove="tag"></label>&nbsp;&nbsp;
											<input type="checkbox" name="leaf" class=" js-switch" value="1" checked="" data-switchery="true" style="display: none;"/>&nbsp;&nbsp;
		                              		<label th:text="#{pages.menu.modMenu.form.leaf.swtich.true}" th:remove="tag"></label>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-md-offset-1 from_components">
									<span class="col-sm-4 span" >
										<label th:text="#{pages.menu.modMenu.form.disabled}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-sm-8 div">
										<div class="form-control">
											<label th:text="#{pages.menu.modMenu.form.disabled.swtich.false}" th:remove="tag"></label>&nbsp;&nbsp;
											<input type="checkbox" name="disabled" class=" js-switch" value="1" checked="" data-switchery="true" style="display: none;"/>&nbsp;&nbsp;
		                              		<label th:text="#{pages.menu.modMenu.form.disabled.swtich.true}" th:remove="tag"></label>
										</div>
										
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-md-offset-1 from_components">
									<span class="col-sm-4 span">
										<label th:text="#{pages.menu.modMenu.form.sort}" th:remove="tag"></label>
										<font style="color:#a94442">*</font>
									</span>
									<div class="col-sm-8 div">
										<input name="sort" class="form-control"  data-bv-notempty="true" data-bv-digits="true"
										  th:attr='data-bv-notempty-message=#{menuManage.form.valid.menuInfoEntity.sort.NotEmpty},data-bv-digits-message=#{menuManage.form.valid.menuInfoEntity.sort.must.is.digit}'/>
									</div>
								</div>
								<div class="col-sm-10 col-md-offset-1">
									<div class="sort"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-md-offset-1 from_components">
									<span class="col-sm-4 span" style="padding-bottom:45px">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<label th:text="#{pages.menu.modMenu.form.description}" th:remove="tag"></label><br>
										<font style="color:#a94442"><label th:text="#{pages.menu.modMenu.form.description.stringlength}" th:remove="tag"></label></font>
									</span>
									<div class="col-sm-8 div">
										<textarea name="description" rows="3" class="form-control input-group-sm" data-bv-stringlength="true" data-bv-stringlength-min="0" data-bv-stringlength-max="100" th:attr='data-bv-stringlength-message=#{menuManage.form.valid.menuInfoEntity.description.stringlength}'></textarea>
									</div>
								</div>
								<div class="col-sm-10 col-md-offset-1">
									<div class="description"></div>
								</div>
							</div>
						</div>
						<div class="modal-footer"> 
							<button class="btn btn-primary submit-btn" type="submit">
								<i class="fa fa-check"></i> 
								<span th:text="#{pages.menu.modMenu.button.mod}" th:remove="tag"></span>
							</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">
								<i class="fa fa-close"></i> 
								<span th:text="#{pages.menu.modMenu.button.shut}" th:remove="tag"></span>
							</button> 
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>