<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title th:text="#{pages.system.name}+'-'+#{pages.index.main_left.title}"></title>
        <link type="text/css" rel="stylesheet" th:href="@{{path}/vendors/bootstrap/css/bootstrap.min.css(path=${contextPath})}" />
        <link type="text/css" rel="stylesheet" th:href="@{{path}/vendors/lobibox/css/lobibox.min.css(path=${contextPath})}" />
        <link type="text/css" rel="stylesheet" th:href="@{{path}/dist/main/css/custom.min.css(path=${contextPath})}"/>
        <link type="text/css" rel="stylesheet" th:href="@{{path}/dist/common/css/common.css(path=${contextPath})}"/>
        <link type="text/css" rel="stylesheet" th:href="@{{path}/vendors/font-awesome/css/font-awesome.min.css(path=${contextPath})}" />
        <script type="text/javascript" th:src="@{{path}/vendors/jquery/jquery-1.12.3.min.js(path=${contextPath})}"></script>
        <script type="text/javascript" th:src="@{{path}/vendors/bootstrap/js/bootstrap.min.js(path=${contextPath})}"></script>
		<script type="text/javascript" th:src="@{{path}/vendors/lobibox/js/lobibox.min.js(path=${contextPath})}"></script>
		<script type="text/javascript" th:src="@{{path}/dist/common/js/constant.js(path=${contextPath})}"></script>
    </head>
    <body class="nav-md" style="background:#fff;" th:onload="'javascript:openURL(\''+${#httpServletRequest.getContextPath()}+'/home'+'\');'">
	    <div class="container body">
			<div class="main_container">
				<div class="col-md-3 left_col menu_fixed">
					<div th:replace="fragments/main_left :: content"></div>
				</div>
				<div class="top_nav">
					<div th:replace="fragments/main_top :: content"></div>
				</div>
				<div class="right_col " role="main">
					<div class="row top_tiles">
		              <div class="col-md-12 col-sm-12 col-xs-12">
		                 <iframe id="indexFrame" src="" width="100%" frameborder="0"  marginheight="0" marginwidth="0"></iframe> 
		              </div>
	        		</div>
				</div>
				<footer>
			        <div class="pull-right">
			        </div>
          			<div class="clearfix"></div>
        		</footer>
			</div>
		</div>
	   <div th:include="common/commonLoadJS:: commonLoadJS"></div> 
    </body>
</html>