<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title th:text="#{pages.system.name}+'-'+#{pages.index.main_left.title}"></title>
        <link th:include="common/commonHeader:: commonHeader"></link>
        <!--  link type="text/css" rel="stylesheet" th:href="@{{path}/dist/main/css/custom.min.css(path=${contextPath})}"/-->
        <link type="text/css" rel="stylesheet" th:href="@{{path}/vendors/nprogress/css/nprogress.css(path=${contextPath})}"/>
        <script type="text/javascript" th:src="@{{path}/vendors/nprogress/js/nprogress.js(path=${contextPath})}"></script>
        <script type="text/javascript">
        	
        	$(document).ready(function() {
	         //时间设置
	          $('#time').html(currentTime);
		      setInterval(function(){$('#time').html(currentTime)},1000);
	        });
        </script>
    </head>
     <body class="no-skin">
     	<div id="navbar" class="navbar navbar-default">
			<div th:replace="fragments/main_top :: content"></div>
		</div>
		<div class="navbar-container" id="navbar-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
			
			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
				<div id="sidebar" class="sidebar responsive">
					<div th:replace="fragments/main_left :: content"></div>
				</div>
				<div class="main-content">
					<div th:include="this :: content"></div>
				</div>
				<div class="footer">
					<!-- div th:replace="fragments/main_footer :: content"></div -->
				</div>
			</div>
		</div>
	   <div th:include="common/commonLoadJS:: commonLoadJS"></div>
	   	<script type="text/javascript">
	   		var pathname = window.location.pathname;
			$("li a").each(function() {
				var href = $(this).attr("href");
				if(pathname ==  href){
	   				$(this).parents("ul").parent("li").addClass("active");
	   				$(this).parent("li").addClass("active");
	   				if($("#breadcrumbs .homemenu")){
	   					$("#breadcrumbs .homemenu").html($(this).parents("ul").parent("li").find("span").html());
	   				}
	   				if($("#breadcrumbs .submenumenu")){
	   					$("#breadcrumbs .submenumenu").html($(this).find("span").html());
		   				$("#breadcrumbs .submenumenu").attr('href',$(this).attr("href"));
	   				}
	   			}
	   		});
			
		</script>
    </body>
</html>