<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/indexModel">

    <head>
        <title th:text="#{pages.system.name}+'-'+#{pages.index.main_left.title}"></title>
    </head>
    <body>
    <div th:fragment="content" th:remove="tag">
    	<div class="left_col scroll-view" >
	           	 <div class="navbar nav_title" style="border: 0;">
              <a th:href="@{{path}/index(path=${contextPath})}" class="site_title"><i class="fa fa-paw"></i> <span style="font-size:16px;" th:text="#{pages.system.name}" ></span></a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img th:src="@{{path}/dist/main/images/img.png(path=${contextPath})}" alt="..." class="img-circle profile_img"/>
              </div>
              <div class="profile_info">
                <span th:text="#{pages.index.main_left.welcomelogin}"></span>
                <h2 th:text="${session.LOGIN_USER.userEntity.account}"></h2>
              </div>
            </div>
            <br />
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" >
              <div class="menu_section">
                <h3 class="info" th:text="#{pages.index.main_left.menu.h3.title}"></h3>
                <ul class="nav side-menu">
                <div th:each="ppm, menuVs:${session.LOGIN_USER.authMenus}" th:remove="tag">
                    <li>
                        <a th:id="'menu_'+${ppm.pmenuInfo.menuid}">
                            <i th:class="${ppm.pmenuInfo.menuIcon}"></i>
                            <label th:text="${ppm.pmenuInfo.menuName}" th:remove="tag"></label>
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <div th:each="pm : ${ppm.subMenuInfos}" th:remove="tag">
                                <li>
                                    <a th:id="'menu_'+${pm.pmenuInfo.menuid}" th:href="${#httpServletRequest.getContextPath()}+${pm.pmenuInfo.menuUrl}" >
                                        <label th:text="${pm.pmenuInfo.menuName}" th:remove="tag"></label>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </li>
                </div>
                 
                </ul>
              </div>
            </div>
            
            <div class="sidebar-footer hidden-small">
	            <a data-toggle="tooltip" data-placement="top" th:title="#{pages.index.main_left.tooltip.modify.userinfo.tip}"  th:href="${#httpServletRequest.getContextPath()}+'/user/modifyUser?operatorid='+${session.LOGIN_USER.userEntity.operatorid}">
	              	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	            </a>
	            <a data-toggle="tooltip" data-placement="top"  th:title="#{pages.index.main_left.tooltip.modify.passwd.tip}" th:href="${#httpServletRequest.getContextPath()}+'/user/modifyPwd?operatorid='+${session.LOGIN_USER.userEntity.operatorid}">
	               	<span aria-hidden="true" class="fa fa-key"> </span>
	               	
	            </a>
              	<a  class="logout-href" data-toggle="tooltip" data-placement="top" th:title="#{pages.index.main_left.tooltip.logout.tip}" th:onClick="'logout(\''+${#httpServletRequest.getContextPath()}+'\');'" href="javascript:void(0)">
                	<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              	</a>
              	<a data-toggle="tooltip" data-placement="top">
               		<span  aria-hidden="true"> </span>&nbsp;&nbsp;&nbsp;&nbsp;
              	</a>
            </div>	
	    </div>
	</div>
    </body>
</html>