<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	    <title th:text="#{pages.system.name}+'-'+#{pages.login.title}"></title>
	    <link th:include="common/commonHeader:: commonHeader"></link>
	    <link rel="stylesheet" th:href="@{{path}/dist/login/css/login.css(path=${contextPath})}"/>
	    <script type="text/javascript" th:src="@{{path}/dist/login/js/login.js(path=${contextPath})}"></script>
	</head>
	<body>
		 <div class="login-main">
             <div class="row login-box">
             	<div class="col-md-6 ">
             		<h4 class="header blue lighter bigger">
						<i class="ace-icon fa fa-coffee green"></i>
						用户登录
					</h4>
	                <form method="post" id="loginForm">
	                	  <fieldset>
	                	 <div class="form-group">
	                            <div class="input-group">
	                                <span class="input-group-addon"><a class="glyphicon glyphicon-user"></a> </span>
	                                <input name="username" id="uname" type="text" class="form-control input-lg default_border" th:placeholder="#{pages.login.input.username.tip}" />
	                            </div>
	                        </div>
							<div class="form-group form-group-lg">
	                            <div class="input-group">
	                                <span class="input-group-addon"><a class="glyphicon glyphicon-lock"></a> </span>
	                                <input type="password" name="password" id="pwd" class="form-control input-lg default_border" th:placeholder="#{pages.login.input.password.tip}"/>
	                            </div>
	                        </div>
							<div class="space"></div>
							<div class="text-left">
								<div class="col-md-7">
									<span class="hidden" id="fpAltert" th:text="#{pages.login.forget.passwd.alert}"></span>
									<a href="#"  onclick="findPwd();">
										<i class="ace-icon fa fa-arrow-left"></i>
										<label th:title="#{pages.login.forget.passwd.tip}" th:text="#{pages.login.forget.passwd}" th:remove="tag"></label>
									</a>
								</div>
								<div class="col-md-5">
									 <button type="submit" class="btn btn-lg btn-danger"><i class="fa fa-unlock" th:text="#{pages.login.button.submit}"></i></button>
								</div>
							</div>
							<div class="space-4"></div>
						</fieldset>
	                </form>
	            </div>
	            <div class="col-md-6 hidden-sm hidden-xs">
	               <div class="form-group form-group-lg text-left">
	               <img alt="" th:src="@{{path}/dist/login/images/login-box-bg.jpg(path=${contextPath})}"/>
	               </div>
	            </div>
        	</div>
	        <div  style="margin-top:15px;color: #a94442;font-size:14pt;text-align:left" th:if="${errMsg ne null}" role="alert" th:text="${errMsg}">
	        </div>
	         <div class="container text-center login-bottom">
	            &copy;<span class="show-year">2017</span><span th:text="#{pages.system.name}"></span>
	        </div>
    	</div>
	</body>
</html>